.bestsellers.product-grid, .related-products-grid.product-grid, .also-purchased-products-grid, .home-page-product-grid{
    padding-top: 0 !important;
    margin-bottom: 56px;
    .title{
        font-family: $fomt-family-3;
        font-size: inherit;
        margin: 0;
        padding-bottom: 8px;
        border-bottom: none;
        text-align: left;
        background-color: transparent !important; // For overwrite mobile
        strong{
            background-color: transparent !important; // For overwrite mobile
            color: #404040 !important;
            font-weight: 800;
        }
    }
    .item-grid{
        background-color: transparent !important;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        .item-box{
            width: calc(25% - 16px) !important;
            margin: 0 8px !important;
            border-top: 1px solid #fdfafa;
            background-color: white;
            border-radius: $border-radius;
            margin-bottom: 24px !important; 
            box-shadow: 0px 3px 3px #eceaea;
            .product-item{
                .picture{

                }
                .details{
                    .product-title{
                        a{
                            color: $color-text;
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                    .add-info{
                        .stock-products-overview{

                        }
                        .prices{
                            min-height: 0;
                            margin-bottom: 4px;
                            .price{
                                color: #3e3e3e !important;
                            }
                        }
                        .buttons{
                            .product-box-add-to-cart-button, .add-to-compare-list-button{
                                display: none;
                            }
                            .add-to-wishlist-button{
                                position: absolute;
                                top: 8px;
                                right: 8px;
                                border-radius: 36px;
                                height: 30px;
                                width: 31px;
                            }
                        }
                        .not-in-stock{
                            font-size: 14px !important;
                            font-weight: 600;
                            &:before{
                                display: inline-block;
                                font-family: "Font Awesome 5 Free"; 
                                font-weight: 900; 
                                content: "\f472";
                                color: $color-text;
                                margin-right: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bestsellers{
    .item-grid{
        .item-box{
            border: 1px solid $border-color-light;
            .attributes{
                ul{
                    &.attribute-squares.image-squares{
                        li{
                            .attribute-square-container{
                                .attribute-square{
                                    width: 40px !important;
                                    height: 40px !important;
                                }    
                            }
                        }
                    }
                }
            }
        }
    }
}