.breadcrumb{
    background-color: transparent;
    margin: 0;
    margin-top: 16px;
    padding: 0;
    ul{
        li *{
            margin: 0 2px;
        }
        &:first-child{
            li{
                span{
                    margin-left: 0;
                    a{
                        margin-left: 0;
                    }
                }
            }
        }
        .delimiter{
            color: $color-text !important;
        }
    }
}