.order-progress{
    counter-reset: order-progress;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
    ul{
        li{
            counter-increment: order-progress;
            a{
                &:before{
                    content: counter(order-progress);
                    display: block;
                    padding: 10px;
                    text-align: center;
                    background-image: none;
                    border: 2px solid $color-primary;
                    border-radius: 40px;
                }
            }
            &.active-step{
                a{
                    &:before{
                        background-color: $color-primary;
                        color: white !important;
                    }
                }
            }
        }
    }
}

.order-summary-content{
    .table-wrapper{
        box-shadow: 0px 2px 3px #cecece;
        table{
            &.cart{

            }
        }
    }
    .cart-options{
        .common-buttons{
            background-color: transparent;
            padding: 16px 0;
            .update-cart-button, .continue-shopping-button {
                background-color: transparent !important;
                color: $color-primary !important;
                padding: 4px 8px;
                margin: 0;
                min-width: auto;
            }
        }
        .checkout-attributes{
            dl{
                dt{
                    display: flex;
                }
            }
        }
    }
    .cart-footer{
        .cart-collaterals{
            .deals{
                .discount-coupon-code, .gift-card-coupon-code{
                    border-top-left-radius: 24px;
                    border-bottom-left-radius: 24px;
                }
                .apply-discount-coupon-code-button, .apply-gift-card-coupon-code-button{
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    color: $color-primary !important;
                    background-color: transparent !important;
                    border: 1px solid $color-primary;
                }
            }
        }
        .totals{
            margin: 0;
            border: 1px solid #dddddd;
            border-top: none;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: 2px 3px 5px #cecece;
            .cart-total{
                .order-total{
                    color: black;
                    font-weight: 700;
                }
                .value-summary{
                    strong{
                        color: black !important;
                        font-weight: 700;
                    }
                }
            }
           
        }
    }
}

.html-shopping-cart-page{
    .master-wrapper-content{
        .checkout-button{
            border-radius: 40px;
            background-color: $color-orange !important;
            text-transform: none;
        }
    }
}