.master-wrapper-page{
    margin-top: 102px;
}

.master-wrapper-content{
    .master-column-wrapper{
        margin-top: 0px;
        @media (max-width: 768.98px){
            .center-1{
                margin-bottom: 0;
            }
        }
    }
}