.eu-cookie-bar-notification{
    padding: 8px 16px;
    height: auto;
    border: none;
    box-shadow: -1px 2px 10px #b1b1b1;
    color: black;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: auto;
    margin: 0;
    .content{
        display: flex;
        align-items: center;
        .text{
            margin-bottom: 0;
            margin-right: 16px;
        }
        .buttons-more{
            display: flex;
            align-items: center;
            .ok-button{
                margin: 0;
                margin-right: 16px;
                background-color: $color-primary;
                border-radius: 4px;
                font-weight: 600;
            }
            .learn-more{

            }
        }
    }
}

@media (max-width: 768.98px){
    .eu-cookie-bar-notification{
        .content{
            flex-direction: column;
            .text{
                margin-bottom: 8px;
                font-size: 13px;
                line-height: 16px;
            }
            .buttons-more{
                
            }
        }
    }
}