.side-2{
    .toggle-filter{
        display: none;
    }
    > .block{
        border: 1px solid $border-color-light;
        background-color: white;
        padding: 16px;
        border-radius: $border-radius;
        border-top: 2px solid $color-primary;
        .title{
            font-family: $fomt-family-3;
            padding: 0;
            margin: 0;
            margin-bottom: 16px;
            min-height: 0;
            padding-bottom: 8px;
            border-color:  $border-color-light;
            strong{
                font-size: 16px;
                color: black;
                font-weight: 300;
            }
        }
        .listbox{
            padding: 0;
            ul.list{
                margin: 0;
                li{
                    padding: 0px 0 0px 16px;
                    &.active{

                    }
                    a{
                        color: $color-text;
                    }
                    ul.sublist{
                        margin: 0;
                        li{
                            a{

                            }
                            &.active{

                            }
                        }
                    }
                }
            }
        }
    }
}