.footer{
    background-color: $color-dark !important;
    .footer-upper{
        background-color: transparent !important;
        border: none;
        .footer-block {
            ul.list{
                margin: 0;
                li{
                    a{
                        color: #a7a7a7;
                    }
                }
            }
            .title{
                font-family: $fomt-family-3;
                color: $color-dark-text;
                margin-bottom: 8px;
                background-color: transparent !important; // For overwrite mobile
                strong{
                    background-color: transparent !important; // For overwrite mobile
                    color: $color-dark-text    !important; // For overwrite mobile
                }
            }
            .newsletter{
                .newsletter-email{
                    .newsletter-subscribe-text{
                        border-radius: $border-radius;
                    }
                    #newsletter-subscribe-button{
                        border-radius: $border-radius;
                        margin-left: 8px;
                        text-transform: none;
                        background: $color-primary !important;
                    }
                }
            }
            &.follow-us{
                .social{
                    ul.networks{
                        border-bottom: 1px solid $color-dark-border !important;
                    }
                }
            }
        }
    }
    .footer-lower{
        padding: 0;
    }
    .footer-usp-holder{
        background-color: #e8f7eb;
        .usp-text{
            margin-bottom: 0;
            text-align: left;
        }
    }
    
}
.footer-location{
    background-color: #3c3c3c;
    .location{
        display: flex;
        padding: 35px 30px;
        @media (max-width: 1000.98px) {
            padding: 35px 10px;
        }
        .box-left{
            img{
                max-width: 213px;
                border-radius: $border-radius;
                padding: 0 !important;
            }
        }
        .box-right{
            flex: 1;
            padding: 0 16px;
            padding-left: 67px;
            @media (max-width: 998px) {
                padding-left: 24px;
            }
            .title{ 
                color: #d4d2d2;
                margin-bottom: 8px;
                background-color: transparent !important;
                font-size: 20px;
                text-align: left;
            }
            .text{
                display: flex;
                text-align: left;
                justify-content: space-between;
                div{
                    font-size: 14px;
                    line-height: 28px;
                    padding-right: 16px;
                    color: #a7a7a7;
                    &.contact, &.open{
                        @media (max-width: 998px) {
                           display: none;
                        }
                    }
                    &.adres{
                        @media (max-width: 998px) {
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}
.extra-information{
    background-color: $color-primary;
    color: white;
    display: none;
    a{
        color: white;
    }
}
.below-footer{
    background-color: $color-primary;
    color: white;
    display: none;
}

.master-wrapper-page{
    > hr{
        display: none;
    }
}

@media (max-width: 768.98px){
    .footer{
         margin-top: 40px;
         .footer-upper{
             padding: 0;
             width: 100%;
             .footer-block{
                 &.information, &.my-account, &.customer-service{
                     width: 100%;
                     border-bottom: 1px solid $color-dark-border;
                     .title{
                         margin-bottom: 0;
                         padding: 12px 16px;
                         strong{
                             font-size: 16px;
                             color: $color-dark-text !important;
                         }
                         &:before{
                             display: inline-block;
                             font-family: "Font Awesome 5 Free"; 
                             font-weight: 900; 
                             content: "\f078";
                             color: $color-dark-text;
                             margin-right: 4px;
                             font-size: 14px;
                         }
                     }
                 }
                 &.follow-us{
                     margin: 0;
                     width: 100%;
                     .social{
                         display: flex;
                         align-items: center;
                         .title{
                             display: none;
                         }
                         .networks{
                             width: 100%;
                             margin: 0;
                             padding: 0;
                             border: none;
                             padding: 12px 16px;
                         }
                     }
                     .newsletter{
                         margin-bottom: 32px;
                     }
                 }
             }
         }
    }
    .extra-information{
         text-align: left;
        a{
         padding: 12px 16px;
            display: block;
        }
    }
 }
