.header-wrapper{
    background-color: #fbfaf4;          // Warm tint
    background-color: #e6ffeb;          // Green
    background-color: white;          // Green
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}
.header{
    display: flex;
    align-items: center;
    padding: 8px 0;
    .header-lower{
        display: flex;
        padding: 0;
        width: auto;
        flex: 1;
        align-items: center;
        position: static;
        .header-logo{
            margin: 0;
            margin-right: 32px;
            a{
                img{
                    max-width: 100px;
                }
            }
        }
        .search-box{
            @media (max-width: 768.98px){
                position: absolute;
                top: 66px;
                right: 0px;
                #small-search-box-form{
                    display: flex;
                    width: auto;
                    align-items: center;
                    .search-box-text{
                        width: auto !important;
                        border-color: #156538;
                    }
                    .search-box-button{
                        width: auto !important;
                        min-width: 100px !important;
                        margin-top: 0 !important;
                        background: #156538  !important;
                        padding-bottom: 6px;
                    }
                }
            }
            @media (max-width: 460px){
                #small-search-box-form{
                    .search-box-text{
                        width: 150px !important;
                    }
                    .search-box-button{
                        min-width: 60px !important;
                        padding: 6px 12px;
                    }
                }
            }
            ::placeholder {
                color: #bbbbbb;
            }
            &.store-search-box{
                .search-box-text{
                    width: auto !important;
                    border-top-left-radius: 24px;
                    border-bottom-left-radius: 24px;
                    border-color: $color-primary;
                    padding-left: 15px;
                }
                .search-box-button{
                    text-transform: none;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    background: $color-primary !important;
                    font-weight: 600;       
                }
            }

        }
        .badge-holder{
            position: absolute;
            right: 260px;
            top: -23px;
            .badge{
                width: 82px;
            }
        }

    }
    .header-upper{
        border: none;
        .header-selectors-wrapper{
            padding: 0;
            border: none;
        }
        .header-links-wrapper{
            padding: 0;
            .header-links{
                ul{
                    display: flex;
                    li{
                        margin: 0 8px;
                        a, span{
                            white-space: nowrap;
                            font-size: $base-font-size;
                            color: $color-primary !important;
                            text-transform: none;
                            font-weight: 600;
                            line-height: 40px;
                            // color: #289a58 !important;  // Green
                            .wishlist-label {
                                padding: 0 !important;
                                display: none;
                            }
                            .cart-label{
                                display: none;
                            }
                            // Hover on a
                            &:hover{
                                color: $color-gray-900 !important;
                                span{
                                    color: $color-gray-900 !important;
                                }
                            }
                        }
                        &#topcartlink{
                            padding: 0 8px;
                            padding-right: 0;      // Last link
                            background-color: transparent;
                            margin: 0;
                            a{
                                background-color: white !important;
                                padding: 0 16px;
                                border-radius: 24px;
                                background-image: none;
                                border: 1px solid $color-primary;
                                .cart-qty{
                                    
                                }
                            }
                        }
                        // Hover on li
                        &:hover{
                            background: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px){
    .badge-holder{
        display: none;
    }   
}