.center-2{
    .page{
        &.category-page{
            .page-body{
                .category-container{
                    border: 1px solid $border-color-light;
                    background-color: white;
                    border-radius: $border-radius;
                    padding: 16px;
                    border-top: 2px solid $color-primary;
                    .page-title{
                        padding: 0;
                        margin: 0;
                        margin-bottom: 16px;
                        min-height: 0;
                        border-color: $border-color-light;
                        padding-bottom: 8px;
                        h1{
                            font-size: 16px;
                            color: black;
                            font-weight: 300;
                        }
                    }
                    .category-description{
                        padding: 0;
                        margin: 0;
                        p:empty {
                            display: none;
                        }
                        p{
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
                .sub-category-grid{
                    margin-top: 24px;
                    .item-grid{
                        background: transparent !important;
                        .item-box{
                            border: 1px solid $border-color-light;
                            background-color: white;
                            border-radius: $border-radius;
                            margin-bottom: 8px;
                            .sub-category-item{
                                .title{
                                    text-align: left;
                                    a{
                                        font-family: $fomt-family-1;
                                        font-size: 16px;
                                        font-weight: bold;
                                        padding: 16px;
                                        color: black  !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-selectors{
                    .product-viewmode{

                    }
                    .product-sorting{

                    }
                    .product-page-size{

                    }
                }
                .product-filters{

                }
                .product-grid{
                    .item-grid{
                        background-color: transparent !important; 
                        .item-box{
                            border: 1px solid $border-color-light;
                            background-color: white;
                            border-radius: $border-radius;
                            margin-bottom: 8px;
                            .product-item{
                                .picture{
                
                                }
                                .details{
                                    .product-title{
                                        a{
                                            font-family: $fomt-family-1;
                                            color: $color-text  !important;
                                            font-size: 16px;
                                        }
                                    }
                                    .add-info{
                                        .stock-products-overview{
                
                                        }
                                        .prices{
                
                                        }
                                        .buttons{
                                            display: none;
                                        }
                                        .not-in-stock{
                                            font-size: 14px !important;
                                            font-weight: 600;
                                            &:before{
                                                display: inline-block;
                                                font-family: "Font Awesome 5 Free"; 
                                                font-weight: 900; 
                                                content: "\f472";
                                                color: $color-text;
                                                margin-right: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Not only on product page but also other pages where product item is defined
.item-box{
    position: relative;
    .product-item{
        .details{            
            .attributes{                
                z-index: 2;
                margin: 0;                
                .label-wrapper{
                    font-weight: bold;
                    color: $color-text-dark;
                }
                ul{                   
                    &.attribute-squares.image-squares{
                        li:nth-of-type(1n+4) {
                            @media (min-width: 768.98px){
                                display: none;
                            }
                        }
                        li:nth-last-of-type(1) {
                            @media(min-width: 768.98px){
                                display: inline-block;
                            }
                        }
                        li:nth-last-of-type(1) {
                            @media(max-width: 768.98px){
                                display: none;
                            }
                        }
                        li{
                            .attribute-square-container{
                                .attribute-square{
                                    margin: 0 !important;
                                    border: 1px solid $color-gray-300 !important;
                                    background-size: contain !important;
                                    width: 50px !important;
                                    height: 50px !important;
                                    border-radius: $border-radius;
                                    &:hover{
                                        border: 1px solid $color-primary !important;
                                    }
                                }    
                            }
                            .tooltip-container{
                                display: none;
                            }
                        }
                    }
                }
                .input-group{
                    display: flex;
                    flex-wrap: wrap;
                    .input-group-value{
                        margin-right: 4px;
                        color: black;
                    }
                }
            }
        }
    }
    &:hover{
        border: 1px solid $border-color !important;
        box-shadow: 0px 3px 4px #e4e4e4;        
    }
}


// Responsive
@media (max-width: 1000.98px){
    .breadcrumb{
        background-color: transparent !important;
        color: $color-text !important;
    }
    // Acount page
    .html-account-page{
        .side-2{
            > .block{
                > .title{
                    padding: 10px !important;
                }
            }
        }
    }
    // List page
    .html-category-page .side-2{
        margin-bottom: 24px;
        .toggle-filter{
            display: block;
            border: 1px solid $border-color-light;
            background-color: white;
            border-radius: $border-radius;
            a{
                display: block;
                padding: 16px 16px;
            }
        }
        &.active{
            .toggle-filter{
                margin-bottom: 16px;
            }
            > .block{
                display: block;
            }
        }
        > .block{
            max-width: none;
            border-color: white;
            padding: 0;
            display: none;
            > .title{
                padding: 16px;
                border: 1px solid $border-color-light;
                background-color: white !important;
                margin: 0;
                font-family: $fomt-family-1;
                border-radius: $border-radius;
                &:before{
                    display: inline-block;
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f078";
                    color: $color-text;
                    margin-right: 4px;
                    font-size: 14px;
                }
                strong{
                    background-color: transparent !important;
                    color: $color-text  !important;
                    font-size: 14px;
                }
            }
            > .listbox{
                border: none;
                margin-top: 12px;
                padding: 16px;
                background-color: white;
                border: 1px solid $border-color-light;
                margin-bottom: 8px;
                border-radius: $border-radius;
                ul.list{
                    li.item{
                        a{
                            padding: 12px 0;
                            &:before{
                                top: 21px;
                            }
                        }
                    }
                }
                .filtered-item{
                    .title{
                        font-family: $fomt-family-1;
                        background-color: transparent !important;
                        background-image: none;
                        font-size: 16px;
                        color: black;
                        padding-bottom: 8px;
                    }
                    .item{
                        color: $color-text;
                        margin: 0 !important;
                        font-weight: 600;
                    }
                }
                .remove-filter{
                    a{
                        text-transform: normal;
                        border-radius: $border-radius;
                    }
                }
            }
        }
    }    
}