.logos{
    margin-bottom: 48px;
    margin-top: 48px;
    .title{
        font-family: $fomt-family-3;
        font-size: 20px;
        margin: 0;
        padding-bottom: 8px;
        color: #404040 !important;
        font-weight: 800;
        text-align: left;
        background-color: white !important;
    }
    .logos-items{
        // text-align: justify;
        // line-height: 24px;
        //  font-size: 16px;
         display: flex;
         align-items: center;
        // justify-content: space-between;
        // margin: 0 -4px;
        .logo-item{
            background-color: white;
            max-width: 150px;
            height: 150px;
            margin: 4px;
            display: flex;
            align-items: center;
            box-shadow: 0px 2px 2px #ececec;
            border: 1px solid #f9f9f9;
            transition: 0.2s all ease;
            &:hover{
                box-shadow: 0px 4px 3px #cecece;
            }
            img{
                max-width: 100%;
                padding: 16px;
                width: auto !important;
            }
        }
    }
    
}