.header-menu-wrapper{   
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    width: 100%;
    top: 58px;
    z-index: 999;

}
.header-menu{
    background-color: transparent !important;
    margin-bottom: 0;
    padding: 0px;
    text-align: left;
    width: 95% !important;
    max-width: none;
    border: none;
    ul.top-menu{
        > li{
            border: none;
            padding: 0 4px;
            &:first-child{
                a{
                    padding-left: 0;
                }
            }
            &:last-child{
                float: right;
                a{
                    
                }
            }
            > a{
                transition: all 0.2s ease;
                color: black;
                font-weight: bold;
                padding: 12px 8px;
                font-size: 16px;
            }
            ul.sublist{
                padding: 0;
                &.first-level{
                    li{
                        a{
                            padding: 12px 16px 12px 16px;
                        }
                        &:hover{
                            a{
                                background-color: $color-primary  !important;
                            }
                        }
                    }
                }
            }
            &:hover{
                > a{
                    color: $color-primary !important;
                }
            }
        }
    }
    // Mobile
    .menu-toggle{
        background-image: none !important;
        background-color: $color-primary !important;
        padding: 16px 16px;
        text-transform: none;
        span{
            color: white !important;
        }
        &:before{
            display: inline-block;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f0c9";
            color: white;
            margin-right: 8px;
        }
    }
}

// Responsive
@media (min-width: 1001px) {
    .header-menu {
        width: 980px !important;
        margin: 0 auto;
    }
    .container-wrapper {
        width: 980px !important;
        margin: 0 auto;
    }

}
@media (min-width: 1367px){
    .header-menu {
        width: 1200px !important;
    }
    .container-wrapper{
        width: 1200px !important;
    }
}

@media (max-width: 1001.98px){
    .header-menu{
        width: 100% !important;
        ul.top-menu{
            padding: 0 16px;
            background-color: white;
            box-shadow: 3px 3px 9px #cecece;
            height: calc(100vh - 107px);
            overflow-y: auto;
            &.mobile{
                margin: 0;
                li{
                    margin: 0;
                    background-color: white !important;
                    a{
                        color: black;
                        font-size: 16px;
                    }
                    &:hover{
                        a{
                            color: black !important;
                            
                        }
                    }
                    &:last-child{
                        float: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 460px){
    .menu-toggle{
        span{
            display: none;
        }
    }
}
