.reviews-items{
    margin-top: 20px;
    .review-item{
        margin-top: 20px;
        border-bottom: 1px solid $border-color-grey;
        padding-bottom: 20px;
        .review-title{
            font-weight: bold;
            color: $color-text-dark;
        }
        .review-rating{
            font-size: 12px;
            color: $color-orange;
        }
        .review-date{
            margin-bottom: 8px;
        }
        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}