.html-product-details-page{
    .master-column-wrapper{
        margin-top: 0;
    }
}

.product-details-page{
    .product-essential{
        .gallery{
            position: relative;
            @media (min-width: 1001px) {
                width: 52%;
            }
            .picture{
                img{
                    border: 1px solid $border-color-light;
                }
            }
            .add-to-wishlist{
                position: absolute;
                top: 8px;
                right: 8px;
                z-index: 9;
                .add-to-wishlist-button{
                    border-radius: 36px;
                    height: 30px;
                    width: 31px;
                    background-position: center;
                    padding: 4px;
                    text-indent: -9999px;
                    background-image: url(../images/wishlist-button.png);
                    background-repeat: no-repeat;
                    border: none;
                    &:hover{
                        background-image: url(../images/wishlist-button-hover.png) !important;
                        background-repeat: no-repeat !important;
                        background-color: $color-primary !important;
                        background-position: center !important;
                        border: none;
                    }
                }
            }
        }
        .overview{
            background-color: transparent !important;
            @media (min-width: 1001px) {
                width: 46%;
            }
            .product-name{
                margin-bottom: 8px;
                border-bottom: 1px solid $border-color-light;
                h1{
                    line-height: 28px;
                    font-size: 22px;
                    color: black;
                    font-weight: bold;
                }
                .reviews{
                    margin-top: 4px;
                    i{
                        color: $color-orange;
                        font-size: 11px;
                    }
                }
                .shipping-time{
                    margin-top: 4px;
                    i{
                        margin-right: 4px;
                    }
                }
                .availability{
                    margin-top: 4px;
                    .stock{
                        .value{
                            color: $color-primary !important;
                            font-weight: bold;
                        }
                      
                    }
                }
            }
            .short-description{
                margin-bottom: 12px;
            }
            .attributes{
                dl{
                    dt{

                    }
                    ul{
                        li{
                            &.selected-value{
                                .attribute-square-container{
                                    background-color: transparent;
                                    .attribute-square{
                                        border: 1px solid $color-primary !important;
                                    }
                                }
                            }
                            &:hover{
                                .attribute-square-container{
                                    .attribute-square{
                                        border: 1px solid $border-color !important;
                                    }
                                }
                            }
                            .attribute-square-container{
                                .attribute-square{
                                    margin: 0 !important;
                                    border: 1px solid $color-gray-300 !important;
                                    background-size: contain !important;
                                    width: 80px !important;
                                    height: 80px !important;
                                    border-radius: $border-radius;
                                }
                            }
                            .tooltip-container{
                                display: none;
                            }
                        }
                    }
                }
                select{
                    width: 100%;
                    height: 40px;
                }
            }
            .product-specs-link{
                margin-bottom: 12px;
            }
            .manufacturers{
                margin-bottom: 4px;
                .label{

                }
                .value{

                }
            }
            .availability{
                margin-bottom: 4px;
                .stock{
                    margin-bottom: 0px;
                    .label{

                    }
                    .value{
    
                    }
                }
            }
            .additional-details{
                margin-bottom: 12px;
                .sku{
                    .label{

                    }
                    .value{
    
                    }
                }
            }
            .delivery{
                .free-shipping{

                }
            }
            .prices{
                .product-price{
                    span{
                        color: black !important;
                    }
                }
            }
            .add-to-cart{
                margin-bottom: 8px;
                .add-to-cart-panel{
                    display: flex;
                    .qty-input{
                        border-radius: $border-radius; 
                    }
                    .add-to-cart-button{
                        background-color: $color-orange !important;
                        flex: 1;
                        border-radius: $border-radius;
                        margin-left: 8px;
                        transition: all 0.2s ease;
                        font-size: 16px;
                        text-transform: none;
                        font-weight: 700;
                        &:hover{
                            box-shadow: none;
                            background-color: $color-orange-darker !important;
                        }
                    }
                }
            }
            .overview-buttons{
                .compare-products{
                    display: none;
                }
                .email-a-friend{
                    display: none;
                }
            }
            .product-share-button{
                display: none;
            }
        }
        .more-info{
            width: 120px;
        }
    }
    .product-collateral-holder{
        display: flex;
        .product-collateral{
            width: 60%;
            margin-bottom: 0;
            .product-specs-box{
                margin-bottom: 0px;
                .title{
                    text-align: left;
                    background-color: transparent !important; // For overwrite mobile
                    strong{
                        background-color: transparent !important; // For overwrite mobile
                        color: $color-text-dark  !important; // For overwrite mobile
                        font-weight: 800;
                    }
                }
            }
            .table-wrapper{
                table.data-table{
                    tr{
                        td{
                            border: none;
                            &:first-child{
                                font-weight: 600;
                                min-width: 200px;
                            }
                        }
                        &.even{
                            td{
                                background-color: #f3f3f3;
                            }
                        }
                    }
                }
            }
            .tabs-content{
                .product-collateral__item{
                    margin-bottom: 16px;
                    padding-bottom: 24px;
                    border-bottom: 1px solid $border-color-grey;
                    .title{
                        text-align: left;
                        strong{
                            font-weight: 800;
                            color: $color-text-dark  !important;
                            font-family: $fomt-family-3;
                        }
                    }
                }
            }
        }
        .cross-selling{
            width: 40%;
            padding-left: 16px;
            .bestsellers.product-grid, .related-products-grid.product-grid, .also-purchased-products-grid {
                
                .item-grid{
                    .item-box{
                        width: calc(50% - 16px) !important;
                    }
                }
            }
        }
    }
}

// Responsive
@media (max-width: 1000.98px){
    .html-product-details-page{
        .page{
            text-align: left;
        }
    }
}

@media (max-width: 960px){
    .product-details-page{
        .product-collateral-holder{
            flex-direction: column;
            .product-collateral{
                width: 100%;
            }
            .cross-selling{
                width: 100%;
                padding-left: 0;
            }
        }
    }
    .table-wrapper{
        table.data-table{
            tr{
                td{
                    &:first-child{
                        min-width: 0 !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768.98px){
    .html-product-details-page{
        .add-to-cart{
            .add-to-cart-panel{
                display: flex;
                .add-to-cart-button{
                    flex: 1;
                }
            }
        }
        .overview-buttons{
            .add-to-wishlist{
                display: flex;
                .add-to-wishlist-button{
                    margin-top: 8px;
                    flex: 1;
                }
            }
        }
    }
}
