.tabs-nav{
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    z-index: 999;
    ul{
        margin: 0;
        margin-bottom: 24px;
        display: flex;
        border-bottom: 1px solid $border-color-grey;
        background-color: white;
        li{
            a{
                padding: 12px 12px;
                color: $color-primary;
                font-weight: 600;
                display: inline-block;
                border-bottom: 2px solid transparent;
                span{
                    color: $color-primary !important;
                }
                &:first-child{
                    
                }
                &:hover{
                    color: $color-primary;
                    border-bottom: 2px solid $color-primary;
                }
            }
            &.active{
                a{
                    color: $color-primary;
                    background-color: #e9f7f1;
                    border-bottom: 2px solid $color-primary;
                }
            }
        }
    }
}

@media (max-width: 1000.98px){
    .tabs-nav{
        top: 107px;
        ul{
            li{
                a{
                    padding: 16px 8px;
                    i{
                        display: none;
                    }
                }
            }
        }
    }
}