.topic-block{
    .topic-block-body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
        @media (max-width: 769px){
            margin: 0px;
        }
        a{
            text-decoration: none;
        }
        p{
            padding: 0;
            line-height: 22px;
        }
        h1{
            margin-bottom: 16px;
        }
        h2{
            margin-bottom: 16px;
        }
        h3{
            margin-bottom: 12px;
        }
        .text-field-1, .text-field-2, .text-field-3, .text-field-4{
            border: 1px solid $border-color-light;
            background-color: white;
            padding: 16px;
            border-radius: $border-radius;
            width: auto !important;
            width: calc(50% - 24px) !important;
            margin: 0 12px;
            margin-bottom: 24px;
            @media (max-width: 769px){
                flex: 0 0 auto;
                width: 100% !important;
                margin: 0;
                margin-bottom: 12px !important;
            }
        }
        
    }
   
}