
.usp-holder{

}
ul.usp{
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    li{
        display: inline-block;
        margin-right: 12px;
        color: black;
        font-size: 16px;
        &:before{
            display: none;
            display: none;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f00c";
            color: $color-primary-light;
            margin-right: 4px;
        }
        span{
            color: $color-orange !important;
            font-weight: 700;
        }
        &:last-child{
            &:before{
                display: none;
            }
        }
        &.review{
            i{
                color: $color-orange;
                font-size: 11px;
            }
        }
    }
    @media (max-width: 769px){
        justify-content: center;
    }
    @media (max-width: 1000.98px){
        
    }
}

.usp-product{
    li{
        &:before{
            display: inline-block;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f00c";
            color: $color-primary;
            margin-right: 8px;
        }
        span{
            color: $color-orange !important;
            font-weight: 700;
            display: inline-block;
        }
        > div{
            display: inline-block;
            vertical-align: top;
        }
        .availability{
            margin-bottom: 0 !important;
        }
    }
}

.usp-text{
    display: flex;
    margin: 0px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: $border-radius;
    .usp-item{
        border-radius: $border-radius;
        margin: 0 12px;
        padding: 4px 16px;
        width: calc(50% - 24px) !important;
        display: flex;
        .icon{
            color: $color-primary;
            font-size: 20px;
            margin-right: 20px;
            align-self: center;
            color: $color-primary !important;
        }
        .title{
            font-size: 22px;
            font-weight: 800;
            text-align: left;
            font-family: $fomt-family-3;
            color: $color-primary !important;
            line-height: 26px;
            background-color: transparent !important;
        }
        p{
            padding: 0;
            text-align: left;
            color: black;
            font-size: 16px;
        }
    }
}