@media (max-width: 1000.98px){
    .html-account-page{
        .side-2{
            > .block{
                > .title{
                    padding: 10px !important;
                }
            }
        }
    }
}