.block-head{
    margin-bottom: 16px;
    .row{
        display: flex;
        .col{
            &.big{
                flex: 2;
                .col-inner{
                    display: flex;
                    height: 100%;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        img{
                            flex-shrink: 0;
                            min-width: 100%;
                            min-height: 100%
                        }
                    }
                }
            }
            &.spacing{
                margin-right: 4px;
            }
            &.small{
                flex: 1;
                .col-inner{
                    display: flex;
                    &:first-child{
                        margin-bottom: 4px;
                    }
                    img{
                        flex-shrink: 0;
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
            }
            .col-inner{
                a{
                    overflow: hidden;
                    position: relative;
                    .categorie{
                        position: absolute;
                        top: 24px;
                        left: 24px;
                        background-color: $color-primary;
                        font-size: 14px;
                        z-index: 2;
                        padding: 2px 11px;
                        border-radius: 3px;
                        color: white;
                    }
                    img{
                        transition: all .2s ease-in-out;
                        max-width: 100%;
                        object-fit: cover;
                        border-radius: $border-radius;
                        border: 1px solid $border-color-light;
                    }
                    &:hover{
                        img{
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }
    }
}