﻿@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">
                @if (Model.PaymentState == Nop.Core.Domain.Payments.PaymentStatus.Paid || Model.PaymentType.Contains("rembours"))
                {
                    <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                }
                else if (Model.PaymentType.Contains("afterPay"))
                {
                    <strong>Aanvraag komt niet in aanmerking voor AfterPay</strong>
                }
                else
                {
                    <strong>@T("Order.RetryPayment.Hint")</strong>
                }
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                @if (Model.PaymentState != Nop.Core.Domain.Payments.PaymentStatus.Paid
                && !Model.PaymentType.Contains("rembours"))
                {
                    <a href="/checkout/retry?orderid=@Model.OrderId" class="button-1 order-completed-continue-button">Probeer opnieuw</a>
                }
                else
                {
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                }
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>
</div>
<script type="text/javascript">
    var ttConversionOptions = ttConversionOptions || [];
    ttConversionOptions.push({
        type: 'sales',
        campaignID: '25140',
        productID: '36862',
        transactionID: @Model.OrderId.ToString(),/*'ORDER_ID'*/
        transactionAmount: @Model.TotalOrderPriceExclTax.ToString().Replace(",","."),/*'ORDER_AMOUNT'*/
        quantity: '1',
        email: '',
        descrMerchant: '',
        descrAffiliate: '',
        currency: ''
    });
</script>
<noscript>
    <img src="//ts.tradetracker.net/?cid=25140&amp;pid=36862&amp;tid=@Model.OrderId&amp;tam=@Model.TotalOrderPriceExclTax.ToString().Replace(",",".")&amp;data=&amp;qty=1&amp;eml=&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
    // No editing needed below this line.
    (function (ttConversionOptions) {
        var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
        var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
        var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
    })(ttConversionOptions);
</script>

<script type="text/javascript">
    _kkstrack = {
        merchantInfo: [{ country: "nl", merchantId: "100511132" }],
        orderValue: '@Model.OrderId.ToString()',
        orderId: '@Model.TotalOrderPriceExclTax.ToString().Replace(",",".")'
    };
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://s.kk-resources.com/ks.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>
