﻿@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">
                @if (Model.PaymentState == Nop.Core.Domain.Payments.PaymentStatus.Paid || Model.PaymentType.Contains("rembours"))
                {
                    <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                }
                else if (Model.PaymentType.Contains("afterPay"))
                {
                    <strong>Aanvraag komt niet in aanmerking voor AfterPay</strong>
                }
                else
                {
                    <strong>@T("Order.RetryPayment.Hint")</strong>
                }
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                @if (Model.PaymentState != Nop.Core.Domain.Payments.PaymentStatus.Paid                 
                 && !Model.PaymentType.Contains("rembours"))
                {

                    <a href="/checkout/retry?orderid=@Model.OrderId" class="button-1 order-completed-continue-button">Probeer opnieuw</a>
                    
                    @*<form asp-route="OrderDetails" method="post">
                <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-1 order-completed-continue-button" />
                <p class="hint">
                </p>
            </form>*@
                }
                else
                {
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                }
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>
</div>
