﻿@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=2");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var billingAddressStepNumber = 1;
    var shippingAddressStepNumber = 2;
    var shippingMethodStepNumber = 3;
    var paymentMethodStepNumber = 4;
    var paymentInfoStepNumber = 5;
    var confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentBefore })
        <ol class="opc" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">                
                <div id="checkout-step-billing" class="step a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <script asp-location="Footer">
                        $(document).on("change", "#billing-address-select", function (e) {
                            if ($(e.currentTarget).val()) {
                                Billing.save();
                            }                            
                        });
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());                           
                            $("#confirm-order-buttons-container").show();
                            $("#ShipToSameAddress").change(function () {
                                if (this.checked) {
                                    $('#co-shipping-form').hide();
                                } else {
                                    $('#co-shipping-form').show();                                    
                                }
                                Billing.save();
                            });
                        }
                    </script>

                    <div class="buttons" id="billing-buttons-container">
                        <input type="button" title="@T("Checkout.SaveAddress")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Checkout.SaveAddress")" />
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>


                    <form action="" id="co-shipping-form">
                        <div id="checkout-shipping-load">
                            @*shipping address content will be loaded here*@
                        </div>
                    </form>
                    <script asp-location="Footer">
                        Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                    </script>

                    <div class="buttons" id="shipping-method-buttons-container" style="display: none">                        
                        <input type="button" class="button-1 shipping-method-next-step-button" onclick="Shipping.save()" value="@T("Checkout.SaveAddress")" />
                        <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>


                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                            @*payment info content will be loaded here*@
                            @if (Model.CheckoutPaymentInfo != null)
                            {
                                @await Html.PartialAsync("OpcPaymentInfo", Model.CheckoutPaymentInfo);
                            }
                        </div>
                    </form>
                    <script asp-location="Footer">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                    </script>



                    <div class="buttons" id="confirm-order-buttons-container" style="display: none">
                        <input type="button" class="button-1 confirm-order-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Confirm")" />
                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>


                    <script asp-location="Footer">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                    </script>
                </div>
            </li>          
        </ol>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentAfter })
    </div>
    <script asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
    </script>
</div>
