﻿@using Nop.Web.Infrastructure;
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @* Home page images *@
        @* @await Component.InvokeAsync("TopicBlock", new { systemName = "HPT2" }) *@

        <div class="block-head">
            <div class="row">
                <div class="col big spacing">
                    <div class="col-inner">
                        <a href="/zitmeubelen/eetkamerstoelen/">
                            <div class="categorie">Eetkamerstoelen</div>
                            <img src="/images/home/kamer.jpg" alt="eetkamerstoelen">
                        </a>
                    </div>
                </div>
                <div class="col small">
                    <div class="col-inner">
                        <a href="/zitmeubelen/barkrukken/">
                            <div class="categorie">Barkrukken</div>
                            <img src="/images/home/stoelen.jpg" alt="barkrukken">
                        </a>
                    </div>
                    <div class="col-inner">
                        <a href="/lampen/">
                            <div class="categorie">Lampen</div>
                            <img src="/images/home/lampen.jpg" alt="lampen">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="usp-text">
            <div class="usp-item">
                <div class="icon"><i class="far fa-calendar-alt"></i></div>
                <div class="text">
                    <div class="title">Snel in huis</div>
                    <p>Binnen 1 tot 5 werkdagen geleverd</p>
                </div>
            </div>
            <div class="usp-item .usp-item-right">
                <div class="icon"><i class="fas fa-undo"></i> </div>
                <div class="text">
                    <div class="title">30 dagen bedenktijd</div>
                    <p>Je hebt 30 dagen de tijd om te retourneren.</p>
                </div>
            </div>
            @*<div class="usp-item">
                <div class="icon"><i class="fas fa-shipping-fast"></i> </div>
                <div class="text">
                    <div class="title"> Gratis bezorging</div>
                    <p>Bij Yels worden de meubels gratis bezorgt.</p>
                </div>
            </div>*@
        </div>
        <div class="block-head">
            <div class="row">
                <div class="col small spacing">
                    <div class="col-inner">
                        <a href="/kasten/tv-meubels/">
                            <div class="categorie">TV meubels</div>
                            <img src="/images/home/tv-kasten.jpg" alt="tv-meubels">
                        </a>
                    </div>
                    <div class="col-inner">
                        <a href="/lampen/hanglampen/">
                            <div class="categorie">Hanglampen</div>
                            <img src="/images/home/hanglampen.jpg" alt="hanglampen">
                        </a>
                    </div>
                </div>
                <div class="col big">
                    <div class="col-inner">
                        <a href="/zitmeubelen/fauteuils/">
                            <div class="categorie">Fauteuils</div>
                            <img src="/images/home/stoel.jpg" alt="fauteuils">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-usp-holder">
            <div class="container-wrapper">
                <div class="usp-text">
                    <div class="usp-item">
                        <div class="icon"><i class="fas fa-percent"></i></div>
                        <div class="text">
                            <div class="title">Laagste prijs garantie</div>
                            <p>Wij bieden de laagste prijs, zo betaal je nooit teveel.</p>
                        </div>
                    </div>
                    <div class="usp-item">
                        <div class="icon"><i class="fas fa-door-open"></i> </div>
                        <div class="text">
                            <div class="title">Betaal aan de deur</div>
                            <p>Achteraf betalen, kies dan voor rembours of Afterpay.</p>
                        </div>
                    </div>
                    <div class="usp-item">
                        <div class="icon"><i class="fas fa-people-carry"></i> </div>
                        <div class="text">
                            <div class="title"> Snel geleverd op afspraak</div>
                            <p>We bellen je binnen 24 uur, indien bestelling op voorraad is</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-head">
            <div class="row">
                <div class="col big spacing">
                    <div class="col-inner">
                        <a href="/kasten/dressoirs/">
                            <div class="categorie">Dressoirs</div>
                            <img src="/images/home/sidetable.jpg" alt="dressoirs">
                        </a>
                    </div>
                </div>
                <div class="col small">
                    <div class="col-inner">
                        <a href="/tafels/bijzettafels/">
                            <div class="categorie">Bijzettafels</div>
                            <img src="/images/home/sidebars.jpg" alt="bijzettafels">
                        </a>
                    </div>
                    <div class="col-inner">
                        <a href="/woonaccessoires/overige-woonaccessoires/">
                            <div class="categorie">Overige</div>
                            <img src="/images/home/overige.jpg" alt="overige">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pay-off"><h1>De <b>snelste</b> woonwinkel van <b>Nederland</b></h1></div>

        @await Component.InvokeAsync("HomepageBestSellers")

        <div class="topic-block-body logos">
            <div class="title"><h2>Populaire merken</h2></div>
            <div class="logos-items">
                <div class="logo-item">
                    <a href="/byboo/"><img class="brand" src="/images/home/ByBoo.png" alt="By Boo logo"></a>
                </div>
                <div class="logo-item">
                    <a href="/dtp-import/"><img class="brand" src="/images/home/d-Bodhi.png" alt="d-Bodhi logo"></a>
                </div>
                <div class="logo-item">
                    <a href="/eleonora/"><img class="brand" src="/images/home/Eleonora.png" alt="Eleonora logo"></a>
                </div>
                @*<div class="logo-item">
                    <a href="/zitmeubelen/"><img class="brand" src="/images/home/must_living.png" alt="Must Living logo"></a>
                </div>*@
                <div class="logo-item">
                    <a href="/ptmd/"><img class="brand" src="/images/home/PTMD.png" alt="PTMD logo"></a>
                </div>
                <div class="logo-item">
                    <a href="/tower-living/"><img class="brand" src="/images/home/Tower Living.png" alt="Tower Living"></a>
                </div>
                <div class="logo-item">
                    <a href="/trio/"><img class="brand" src="/images/home/Trio.png" alt="Trio logo"></a>
                </div>
                <div class="logo-item">
                    <a href="/urban-sofa/"><img class="brand" src="/images/home/Urban Sofa.png" alt="Urban Sofa logo"></a>
                </div>
                <div class="logo-item ">
                    <a href="/yels/"><img class="brand" src="/images/home/Yels.png" alt="Yels logo"></a>
                </div>                
            </div>
        </div>
    </div>

        @await Component.InvokeAsync("HomeRecentlyViewedProductsBlock")


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })



        @*
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })

        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText3Columns" })
        *@
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
        <div class="prisma-banners-3-widget-zone">
            @await Component.InvokeAsync("Widget", new { widgetZone = "prisma_banners_3_widget_zone" })
        </div>
        <div class="prisma-banners-2-widget-zone">
            @await Component.InvokeAsync("Widget", new { widgetZone = "prisma_banners_2_widget_zone" })
        </div>
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        <div class="two-colums-wrapper">
            @await Component.InvokeAsync("Widget", new { widgetZone = "prisma_home_page_two_columns" })
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })

    </div>
</div>
