﻿@model SocialModel
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" rel="noreferrer" target="_blank">@T("Footer.FollowUs.Facebook")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" rel="noreferrer" target="_blank">@T("Footer.FollowUs.Twitter")</a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" rel="noreferrer">@T("Footer.FollowUs.RSS")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="@Model.YoutubeLink" rel="noreferrer" target="_blank">@T("Footer.FollowUs.Youtube")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
    {
        <li class="google-plus"><a href="@Model.GooglePlusLink" rel="noreferrer" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
    }
    <li class="pintrest"><a href="https://nl.pinterest.com/yels_nl/" rel="noreferrer" target="_blank">pintrest</a></li>
    <li class="twitter"><a href="https://instagram.com/yels.nl/" rel="noreferrer" target="_blank">instagram</a></li>
</ul>