﻿@model CatalogPagingFilteringModel.PriceRangeFilterModel

@*@if (Model.Manufacturers.Count > 0)
{*@
    <div class="block block-price-navigation">
        <div class="title">
            <strong>@*@T("PriceRange")*@</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                <input type="number" name="priceFrom" value="0" />
                <input type="number" name="priceTo" value="0" />
            </ul>
            @*@if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }*@
        </div>
    </div>
@*} *@