﻿@model SpecificationFilterModel
@{
    var notFilteredItems = Model.NotFilteredItems.OrderBy(x => x.DisplayOrder);
    var randomNumber = new Random().Next(1000, 9999);
    var minimizeButtonId = $"minimize-{randomNumber}";
    var listboxId = $"list-{randomNumber}";
    var functionId = $"HideFilter{randomNumber}";
}
@if (Model.Specs.Count > 0 || Model.AlreadyFilteredItems.Count > 0)
{
<div class="block block-spec-filter">
    <div class="title">
        <i class="minimizebutton fas fa-chevron-down" id="@minimizeButtonId"></i>
        <strong>Vorm</strong>
    </div>

    <script asp-location="Footer">
            $(document).ready(function () {
                $("#@minimizeButtonId").click(function () {
                    if ($("#@listboxId").is(":hidden")) {
                    $("#@listboxId").show();
                    $("#@minimizeButtonId").css('transform', 'rotate(0deg)');
                    $("#@minimizeButtonId").css('paddingLeft', '0px');
                } else {
                    $("#@listboxId").hide();
                    $("#@minimizeButtonId").css('transform', 'rotate(270deg)');
                    $("#@minimizeButtonId").css('paddingLeft', '10px');
                }
                })
            });
    </script>

    <div class="listbox">
        <ul class="list" id="@listboxId">
            @foreach (var group in notFilteredItems)
            {
                string slugToUse;

                if (group.Slug != null)
                {
                    slugToUse = group.Slug;
                }
                else
                {
                    slugToUse = group.Name;
                }


                <li class="item">
                    <a href="@Model.GetQueryString(slugToUse.Replace(" ", "-").ToLower())">@group.Name</a>
                </li>

            }
        </ul>

        @if (Model.AlreadyFilteredItems.Count > 0)
        {
            <div class="filtered-item">
                <ul>
                    <li class="title">
                        @T("Filtering.SpecificationFilter.CurrentlyActiveFiltered")
                    </li>

                    <li class="item">

                        @Model.AlreadyFilteredItems.ToList().Aggregate(string.Empty, (current, next) =>
                            $"{(string.IsNullOrEmpty(current) ? string.Empty : $"{current} {T("Filtering.SpecificationFilter.Separator")}")}{" "}{next.Name}")
                    </li>

                </ul>
            </div>
            <div class="remove-filter">
                <a href="@Model.RemoveSpecFromQueryString()">@T("Filtering.SpecificationFilter.Remove")</a>
            </div>
        }
    </div>
</div>
}