﻿@model ProductDetailsModel
@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    <div class="availability">
        @if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            <div class="stock">                
                @if (Model.StockAvailability.Contains("voorraad"))
                {
                    <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
                }
                else
                {
                    <span class="value" id="stock-availability-value-@Model.Id">leverbaar over @Model.StockAvailability</span>
                }
            </div>
        }
        @await Html.PartialAsync("_BackInStockSubscription", Model)
    </div>
}