﻿@model ProductDetailsModel.ProductWarehouseInventory2
@using Nop.Core.Domain.Catalog
@if (Model.stockQuantity > 0)
{
    if (Model.name.ToLower().Contains("yels") && Model.stockQuantity > 0)
    {
        <div class="manufacturers">
            <span class="label">In de showroom:</span>
            <span class="value">Dit product is aanwezig in de showroom</span>
        </div>
    }
    else if (Model.name == null && Model.stockQuantity > 0)
    {
        <div class="manufacturers">
            <span class="label">In de showroom:</span>
            <span class="value">Dit product is aanwezig in de showroom</span>
        </div>
    }
    else
    {
        <div class="manufacturers">
            <span class="label">In de showroom:</span>
            <span class="value">Dit product is niet aanwezig in de showroom</span>
        </div>
    }


}
@if (Model.stockQuantity <= 0 || Model == null)
{
    <div class="manufacturers">
        <span class="label">In de showroom:</span>
        <span class="value">Dit product is niet aanwezig in de showroom</span>
    </div>
}