﻿@model IList<ProductSpecificationModel>
@using Nop.Core.Domain.Catalog;
@if (Model.Count > 0)
{
    <div class="product-specs-box">
        <div class="title">
            <strong><i class="fas fa-tags"></i> @T("Products.Specs")</strong>
        </div>
        <div class="table-wrapper">
            <table class="data-table">
                <colgroup>
                    <col width="25%" />
                    <col />
                </colgroup>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                            <td class="spec-name">
                                @item.SpecificationAttributeName
                            </td>
                            <td class="spec-value">
                                @Html.Raw(item.ValueRaw)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}