﻿@model ProductDetailsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName + "/" }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(true) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(true) + "\" />");
    }

    var stock = !string.IsNullOrWhiteSpace(Model.StockAvailability) ? @"https://schema.org/InStock" : @"https://schema.org/OutOfStock";

    var baseUrl = Context.Request.Scheme + "://" +
    Context.Request.Host;

    var productImages = "[";
    Model.PictureModels.ToList().ForEach(x =>
    {
        productImages += $"\"{x.ImageUrl}\",";
    });
    if (productImages.Length > 0)
    {
        productImages = productImages.Remove(productImages.Length - 1);
    }
    productImages += "]";
}
@section LdJson
{
    <script type="application/ld+json">
        {
        @Html.Raw("\"@context\""): "https://schema.org/",
        @Html.Raw("\"@type\""): "Product",
        "name": "@Model.Name",
        "image": @Html.Raw(productImages),
        "description": "@Html.Raw(Model.ShortDescription)",
        "sku": "@Model.Sku",
        "brand": {
        @Html.Raw("\"@type\""): "Thing",
        "name": "@Model.ProductManufacturers.FirstOrDefault()?.Name"
        },
        "offers": {
        @Html.Raw("\"@type\""): "Offer",
        "url": "@baseUrl/product/@Model.SeName",
        "priceCurrency": "EUR",
        "price": "@Html.Raw(String.Format(" {0:0.00} ", Model.ProductPrice.PriceValue).Replace(",", "."))",
        "availability": "@stock"
        }
        }



    </script>



    @await Component.InvokeAsync("Widget", new
    {
        widgetZone = PublicWidgetZones.CategoryDetailsAfterLdJson,
        additionalData = Model
    })
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb, additionalData = Model })
<div class="page product-details-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsTop, additionalData = Model })
        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form-@Model.Id">
            <div itemscope data-productid="@Model.Id">
                <div class="product-essential">
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
                    <!--product pictures-->
                    @await Html.PartialAsync("_ProductDetailsPictures", Model)
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
                    <div class="overview">
                        @await Html.PartialAsync("_Discontinued", Model)
                        <div class="product-name">
                            <h1>
                                @Model.Name
                            </h1>
                            @*<div class="reviews"><a href="#product-reviews" title="Bekijk alle reviews"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> 51 reviews</a></div>
                                <div class="shipping-time"><a href="#product-shipping"><i class="fas fa-shipping-fast"></i> 13-14 weken in huis</a></div>*@
                        </div>

                        @if (!string.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        <div class="product-specs-link"><a href="#product-specs"><i class="fas fa-angle-right"></i> Alle productspecificaties</a></div>
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewTop, additionalData = Model })
                        <!--product reviews-->
                        @await Html.PartialAsync("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--manufacturers-->
                        @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)
                        <!--Is in showroom-->
                        @await Html.PartialAsync("_InShowroom", Model.ProductWarehouseInventory)
                        <!--SKU, MAN, GTIN, vendor-->
                        @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)
                        <!--delivery-->
                        @await Html.PartialAsync("_DeliveryInfo", Model)
                        <!--sample download-->
                        @await Html.PartialAsync("_DownloadSample", Model)
                        <!--gift card-->
                        @{
                            var dataDictGiftCard = new ViewDataDictionary(ViewData);
                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{Model.Id}";
                            @await Html.PartialAsync("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                        }
                        <!--rental info-->
                        @{
                            var dataDictRental = new ViewDataDictionary(ViewData);
                            dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{Model.Id}";
                            @await Html.PartialAsync("_RentalInfo", Model, dataDictRental)
                        }
                        <!--price & add to cart-->
                        @{
                            var dataDictPrice = new ViewDataDictionary(ViewData);
                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
                            @await Html.PartialAsync("_ProductPrice", Model.ProductPrice, dataDictPrice)

                            @await Html.PartialAsync("_ProductTierPrices", Model.TierPrices)

                            var dataDictAddToCart = new ViewDataDictionary(ViewData);
                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
                            @await Html.PartialAsync("_AddToCart", Model.AddToCart, dataDictAddToCart)
                        }
                        <!--wishlist, compare, email a friend-->
                        <div class="overview-buttons">
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsBefore, additionalData = Model })

                            @await Html.PartialAsync("_CompareProductsButton", Model)
                            @await Html.PartialAsync("_ProductEmailAFriendButton", Model)
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsAfter, additionalData = Model })
                        </div>
                        @await Html.PartialAsync("_ShareButton", Model)
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewBottom, additionalData = Model })

                        <div class="usp-product">
                            <ul>
                                <li>
                                    <!--availability-->
                                    @await Html.PartialAsync("_Availability", Model)
                                </li>
                                <li>
                                    <!--levertijd-->
                                    Klanten geven Yels een <span>8.2/10</span>
                                <li>
                                    <span>30 dagen </span> bedenktijd
                                </li>
                                <li>
                                    Achteraf betalen via <span> Afterpay</span>
                                </li>
                                <li>
                                    Product bekijken en afhalen <span>in onze  winkel</span>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.DeliveryDate))
                                {
                                    <}li>
                                        Indien op voorraad levertijd: <span>@Model.DeliveryDate</span>
                                    </}li>

                                }
                            </ul>

                        </div>

                        <!--kiyoh widget-->
                        <div>
                            <iframe frameborder="0" allowtransparency="true" src="https://www.kiyoh.com/retrieve-widget.html?color=white&button=true&lang=nl&tenantId=98&locationId=1046198" width="300" height="170"></iframe>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description">
                            @Html.Raw(Model.FullDescription)
                        </div>

                    }
                </div>

                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforeCollateral, additionalData = Model })
                <div class="product-collateral-holder">
                    <div class="product-collateral">
                        <div class="tabs-nav">
                            <ul>
                                <li><a class="active" href="#product-specs"><i class="fas fa-tags"></i> <span class="hidden-md">Productspecificaties</span> <span class="show-md">Specs</span></a></li>
                                <li><a href="#product-shipping"><i class="fas fa-shipping-fast"></i> Levering</a></li>
                                <li><a href="#product-garantee"><i class="fas fa-user-shield"></i> Garantie</a></li>
                                @*<li><a href="#product-reviews"><i class="far fa-star"></i> Reviews  <span class="hidden-md">(51)</span></a></li>*@
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div id="product-specs" class="product-collateral__item">
                                @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                            </div>
                            <div id="product-shipping" class="product-collateral__item">
                                <div class="title">
                                    <strong><i class="fas fa-shipping-fast"></i> Gratis verzending</strong>
                                </div>
                                <div class="description">
                                    Bij Yels.nl wordt elke bestelling vanaf €50,- gratis thuisbezorgd. Levering op de Waddeneilanden is mogelijk, hiervoor moeten wij €50,- in rekening brengen.
                                    Vraag onze klantenservice naar de kosten voor het leveren naar België, Duitsland & Luxemburg.

                                </div>
                            </div>
                            <div id="product-garantee" class="product-collateral__item">
                                <div class="title">
                                    <strong><i class="fas fa-user-shield"></i> Garantie</strong>
                                </div>
                                <div class="description">
                                    Wij bieden 2 jaar garantie op ons hele assortiment!<br />
                                    Je factuur en aankoopbewijs zijn tevens je garantiebewijs. Deze kan je altijd terug vinden in je account. Wij adviseren je dan ook om deze zelf te bewaren.
                                </div>
                            </div>
                            @*<div id="product-reviews" class="product-collateral__item">
                                    <div class="title">
                                        <strong><i class="far fa-star"></i> Reviews</strong>
                                    </div>
                                    <div class="description">
                                        <div class="reviews"><a href="#" title="Bekijk alle reviews"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> 8.6/10 van 51 reviews</a></div>
                                        <div class="reviews-items">
                                            <div class="review-item">
                                                <div class="review-title">Praktisch</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Nijmegen | 12 juni 2020</div>
                                                <div class="review-desc">
                                                    Heel mooie tv meubel. Makkelijk om elkaar te zetten. Prima service en snelle levering.
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Niet gebouwd als TV Meubel</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i></div>
                                                <div class="review-date">11 juni 2020</div>
                                                <div class="review-desc">
                                                    Het TV meubel is alleen geschikt voor tv's waar de kabels al van weggewerkt zijn in de muur. Wij hebben de halve kast moeten verbouwen met kabelgootjes om de kabels van de tv en internet weg te kunnen werken.
                                                    Deze zitten er dus niet in. Ook de kleur komt niet overeen met de foto. De kleur is donkerder . Nú kwam de kleur bij ons net mooier uit dus hebben we hem toch gehouden.
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Bedbank meer bank dan bed</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Middelburg | 24 maart 2020</div>
                                                <div class="review-desc">
                                                    Gezellig bankje , staat goed maar te hard om lekker op te slapen en daar was hij min of meer ook voor bedoeld
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Praktisch</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Nijmegen | 13 maart 2020</div>
                                                <div class="review-desc">
                                                    Heel mooie tv meubel. Makkelijk om elkaar te zetten. Prima service en snelle levering.
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Praktisch</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Nijmegen | 13 maart 2020</div>
                                                <div class="review-desc">
                                                    Heel mooie tv meubel. Makkelijk om elkaar te zetten. Prima service en snelle levering.
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Praktisch</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Nijmegen | 13 maart 2020</div>
                                                <div class="review-desc">
                                                    Heel mooie tv meubel. Makkelijk om elkaar te zetten. Prima service en snelle levering.
                                                </div>
                                            </div>
                                            <div class="review-item">
                                                <div class="review-title">Praktisch</div>
                                                <div class="review-rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></div>
                                                <div class="review-date">Nijmegen | 13 maart 2020</div>
                                                <div class="review-desc">
                                                    Heel mooie tv meubel. Makkelijk om elkaar te zetten. Prima service en snelle levering.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            @await Html.PartialAsync("_ProductTags", Model.ProductTags)
                        </div>
                    </div>
                    <div class="cross-selling">
                        @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })
                        @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
                        @await Component.InvokeAsync("HomeRecentlyViewedProductsBlock")
                    </div>
                </div>
            </div>
        </form>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBottom, additionalData = Model })
    </div>
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = "ProductModal", additionalData = Model })