﻿@model ProductDetailsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(true) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(true) + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
    {
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb, additionalData = Model })
<div class="page product-details-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsTop, additionalData = Model })

        <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforeCollateral, additionalData = Model })
            <div class="product-collateral">

                <!--associated products-->
                <div class="product-variant-list">
                    @foreach (var variant in Model.AssociatedProducts)
                    {
                        <div id="@Html.Raw("grouped-products-id-" + variant.Id.ToString())" class="product-variant-lin" data-productid="@variant.Id">
                            @*<div class="page product-details-page">*@
                            <div class="page-body">
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsTop, additionalData = variant })
                                <form asp-route="Product" asp-route-sename="@variant.SeName" method="post" id="@Html.Raw("product-details-form-" + variant.Id.ToString())">
                                    <div itemscope data-productid="@variant.Id">
                                        <div class="product-essential">
                                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
                                            <!--product pictures-->
                                            @await Html.PartialAsync("_ProductDetailsPictures", variant)
                                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
                                            <div class="overview">
                                                @await Html.PartialAsync("_Discontinued", variant)
                                                <div class="product-name">
                                                    <h1>
                                                        @variant.Name
                                                    </h1>
                                                </div>

                                                @if (!string.IsNullOrEmpty(variant.ShortDescription))
                                                {
                                                    <div class="short-description">
                                                        @Html.Raw(variant.ShortDescription)
                                                    </div>
                                                }
                                                <div class="product-specs-link"><a href="#product-specs"><i class="fas fa-angle-right"></i> Alle productspecificaties</a></div>
                                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewTop, additionalData = Model })
                                                <!--product reviews-->
                                                @await Html.PartialAsync("_ProductReviewOverview", variant.ProductReviewOverview)
                                                <!--manufacturers-->
                                                @await Html.PartialAsync("_ProductManufacturers", variant.ProductManufacturers)
                                                <!--Is in showroom-->
                                                @await Html.PartialAsync("_InShowroom", variant.ProductWarehouseInventory)
                                                <!--SKU, MAN, GTIN, vendor-->
                                                @await Html.PartialAsync("_SKU_Man_GTIN_Ven", variant)
                                                <!--delivery-->
                                                @await Html.PartialAsync("_DeliveryInfo", variant)
                                                <!--sample download-->
                                                @await Html.PartialAsync("_DownloadSample", variant)
                                                <!--attributes-->
                                                @{
                                                    var dataDictAttributes = new ViewDataDictionary(ViewData);
                                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                                    @await Html.PartialAsync("_ProductAttributes", Tuple.Create(Model, variant.Id), dataDictAttributes)
                                                }
                                                <!--gift card-->
                                                @{
                                                    var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{variant.Id}";
                                                    @await Html.PartialAsync("_GiftCardInfo", variant.GiftCard, dataDictGiftCard)
                                                }
                                                <!--rental info-->
                                                @{
                                                    var dataDictRental = new ViewDataDictionary(ViewData);
                                                    dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{variant.Id}";
                                                    @await Html.PartialAsync("_RentalInfo", variant, dataDictRental)
                                                }
                                                <!--price & add to cart-->
                                                @{
                                                    var dataDictPrice = new ViewDataDictionary(ViewData);
                                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{variant.Id}";
                                                    @await Html.PartialAsync("_ProductPrice", variant.ProductPrice, dataDictPrice)

                                                    @await Html.PartialAsync("_ProductTierPrices", variant.TierPrices)

                                                    var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{variant.Id}";
                                                    @await Html.PartialAsync("_AddToCart", variant.AddToCart, dataDictAddToCart)
                                                }
                                                <!--wishlist, compare, email a friend-->
                                                <div class="overview-buttons">
                                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsBefore, additionalData = variant })

                                                    @await Html.PartialAsync("_CompareProductsButton", variant)
                                                    @await Html.PartialAsync("_ProductEmailAFriendButton", variant)
                                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsAfter, additionalData = Model })
                                                </div>
                                                @await Html.PartialAsync("_ShareButton", variant)
                                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewBottom, additionalData = Model })

                                                <div class="usp-product">
                                                    <ul>
                                                        <li>
                                                            <!--availability-->
                                                            @await Html.PartialAsync("_Availability", variant)
                                                        </li>
                                                        <li>
                                                            <!--levertijd-->
                                                            Klanten geven Yels een <span>8.2/10</span>
                                                        <li>
                                                            <span>30 dagen </span> bedenktijd
                                                        </li>
                                                        <li>
                                                            Achteraf betalen via <span> Afterpay</span>
                                                        </li>
                                                        <li>
                                                            Product bekijken en afhalen <span>in onze  winkel</span>
                                                        </li>
                                                        @if (!string.IsNullOrEmpty(Model.DeliveryDate))
                                                        {
                                                            <}li>
                                                                Indien op voorraad levertijd: <span>@Model.DeliveryDate</span>
                                                            </}li>

                                                        }
                                                    </ul>

                                                </div>

                                                <!--kiyoh widget-->
                                                <div>
                                                    <iframe frameborder="0" allowtransparency="true" src="https://www.kiyoh.com/retrieve-widget.html?color=white&button=true&lang=nl&tenantId=98&locationId=1046198" width="300" height="170"></iframe>
                                                </div>
                                            </div>

                                            @if (!string.IsNullOrEmpty(variant.FullDescription))
                                            {
                                                <div class="full-description">
                                                    @Html.Raw(variant.FullDescription)
                                                </div>

                                            }
                                        </div>

                                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforeCollateral, additionalData = variant })
                                        <div class="product-collateral-holder">
                                            <div class="product-collateral">
                                                <div class="tabs-nav">
                                                    <ul>
                                                        <li><a class="active" href="#product-specs"><i class="fas fa-tags"></i> <span class="hidden-md">Productspecificaties</span> <span class="show-md">Specs</span></a></li>
                                                        <li><a href="#product-shipping"><i class="fas fa-shipping-fast"></i> Levering</a></li>
                                                        <li><a href="#product-garantee"><i class="fas fa-user-shield"></i> Garantie</a></li>
                                                        @*<li><a href="#product-reviews"><i class="far fa-star"></i> Reviews  <span class="hidden-md">(51)</span></a></li>*@
                                                    </ul>
                                                </div>
                                                <div class="tabs-content">
                                                    <div id="product-specs" class="product-collateral__item">
                                                        @await Html.PartialAsync("_ProductSpecifications", variant.ProductSpecifications)
                                                    </div>
                                                    <div id="product-shipping" class="product-collateral__item">
                                                        <div class="title">
                                                            <strong><i class="fas fa-shipping-fast"></i> Gratis verzending</strong>
                                                        </div>
                                                        <div class="description">
                                                            Bij Yels.nl wordt elke bestelling vanaf €50,- gratis thuisbezorgd. Levering op de Waddeneilanden is mogelijk, hiervoor moeten wij €50,- in rekening brengen.
                                                            Vraag onze klantenservice naar de kosten voor het leveren naar België, Duitsland & Luxemburg.

                                                        </div>
                                                    </div>
                                                    <div id="product-garantee" class="product-collateral__item">
                                                        <div class="title">
                                                            <strong><i class="fas fa-user-shield"></i> Garantie</strong>
                                                        </div>
                                                        <div class="description">
                                                            Wij bieden 2 jaar garantie op ons hele assortiment!<br />
                                                            Je factuur en aankoopbewijs zijn tevens je garantiebewijs. Deze kan je altijd terug vinden in je account. Wij adviseren je dan ook om deze zelf te bewaren.
                                                        </div>
                                                    </div>
                                                    @await Html.PartialAsync("_ProductTags", variant.ProductTags)
                                                </div>
                                            </div>
                                            <div class="cross-selling">
                                                @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = variant.Id })
                                                @await Component.InvokeAsync("RelatedProducts", new { productId = variant.Id })
                                                @await Component.InvokeAsync("HomeRecentlyViewedProductsBlock")
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            @*</div>*@
                        </div>
                    }
                    @if (Model.AssociatedProducts.Count == 0)
                    {
                        <div class="no-associated-products">
                            @T("Products.NoAssociatedProducts")
                        </div>
                    }
                </div>
                @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                @*@await Html.PartialAsync("_ProductTags", Model.ProductTags)*@
            </div>
            @*we do not display "also purchased" for grouped products
                @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })*@
            @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductGroupDetailsBottom, additionalData = Model })
    </div>
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = "ProductModal", additionalData = Model })