﻿@model IList<AddressAttributeModel>
@using Nop.Core.Domain.Catalog;
@foreach (var attributeModel in Model)
{
    var controlId = $"address_attribute_{attributeModel.Id}";
    var textPrompt = attributeModel.Name;

    <div class="inputs custom-attributes @(@AttributeControlType.Datepicker == attributeModel.AttributeControlType ? "date-of-birth" : "")">     
        <label>@textPrompt:</label>

        @switch (attributeModel.AttributeControlType)
        {
            case AttributeControlType.DropdownList:
                {
                    <select name="@(controlId)" id="@(controlId)">
                        @if (!attributeModel.IsRequired)
                        {
                            <option value="0">---</option>
                        }
                        @foreach (var attributeValue in attributeModel.Values)
                        {
                            <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                        }
                    </select>
                }
                break;
            case AttributeControlType.RadioList:
                {
                    <ul class="option-list">
                        @foreach (var attributeValue in attributeModel.Values)
                        {
                            <li>
                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                <label for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                            </li>
                        }
                    </ul>
                }
                break;
            case AttributeControlType.Checkboxes:
            case AttributeControlType.ReadonlyCheckboxes:
                {
                    <ul class="option-list">
                        @foreach (var attributeValue in attributeModel.Values)
                        {
                            <li>
                                <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attributeModel.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                                <label for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                            </li>
                        }
                    </ul>
                }
                break;
            case AttributeControlType.TextBox:
                {
                    <input name="@(controlId)" type="text" class="textbox" id="@(controlId)" value="@attributeModel.DefaultValue" />
                }
                break;
            case AttributeControlType.MultilineTextbox:
                {
                    <textarea id="@(controlId)" name="@(controlId)">@attributeModel.DefaultValue</textarea>
                }
                break;
            case AttributeControlType.Datepicker:
                {
                    <nop-date-picker asp-day-name="@(controlId + "_day")"
                                     asp-month-name="@(controlId + "_month")"
                                     asp-year-name="@(controlId + "_year")"
                                     asp-begin-year="@(DateTime.Now.Year)"
                                     asp-end-year="@(DateTime.Now.Year - 120)" />
                }
                break;
            case AttributeControlType.FileUpload:
            case AttributeControlType.ColorSquares:
            case AttributeControlType.ImageSquares:
                {
                    //not support attribute type
                }
                break;
        }
        @if (attributeModel.IsRequired)
        {
            <nop-required />
        }
    </div>
}
