﻿@model TopMenuModel.CategoryLineModel
<li>
    @*@if (Model.Category.SeName != Model.Category.Name.ToLower())
    {
        if (Model.Category.SeName == Model.Category.Name)
        {*@
            <a href="@Url.RouteUrl("Category", new { SeName = Model.Parent + Model.Category.SeName + "/" }).Replace("%2F", @"/")">@Model.Category.Name</a>
        @*}
    }*@
    

    @if (Model.Category.NumberOfProducts.HasValue)
    {
        <text> </text>@T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
    }

    @{
        //subcategories
        var subCategories = Model.ResponsiveMobileMenu ?
        //responsive (all categories)
        Model.Category.SubCategories :
        //standard design (only categories with "IncludeInTopMenu")
        Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (subCategories.Count > 0)
        {
            <div class="sublist-toggle"></div>
            <ul class="sublist @levelClass">
                @foreach (var subCategory in subCategories)
                {
                    var categoryLineModel = new TopMenuModel.CategoryLineModel
                    {
                        Category = subCategory,
                        Level = Model.Level + 1,
                        ResponsiveMobileMenu = Model.ResponsiveMobileMenu,
                        Parent = Model.Category.SeName + @"/"
                    };
                    @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                }
            </ul>
        }
    }
</li>