﻿@{
    Layout = "_Root";
}
@{
    //current category ID
    var currentCategoryId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.ActionContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    var currentManufacturerId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.ActionContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    var currentProductId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.ActionContext.RouteData.Values["productId"].ToString());
    }
}
@if (IsSectionDefined("LdJson"))
{
    @section LdJson {
        @RenderSection("LdJson")
    }
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
@if (IsSectionDefined("NoFollowNoIndex"))
{
    @section NoFollowNoIndex {
        @RenderSection("NoFollowNoIndex")
    }
}
@if (IsSectionDefined("FilterTitle"))
{
    @section FilterTitle {
        @RenderSection("FilterTitle")
    }
}
<div class="side-2">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        <div class="toggle-filter"><a href="#"><i class="fas fa-filter"></i> filters</a></div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBefore })
        @await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterCategoryNavigation })
        @await Component.InvokeAsync("ManufacturerNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("StyleNavigation", new { currentCatelogId = currentCategoryId })
        @*@await Component.InvokeAsync("PriceNavigation", new { currentManufacturerId = currentCategoryId })*@
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterCategoryNavigation })*@
        // Load pricerange filter
        @*@await Component.InvokeAsync("PriceFilterNavigation") //, new { currentCategoryId = currentCategoryId }*@

        @await Component.InvokeAsync("MaterialNavigation", new { currentCatelogId = currentCategoryId })
        // Load color filter
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterCategoryNavigation })*@
        @await Component.InvokeAsync("ColorNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("SeatNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("ShapeNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("LengthNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("ArmrestNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("WidthNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("HeightSliderNavigation", new { currentCatelogId = currentCategoryId })
        @await Component.InvokeAsync("VendorNavigation")
        @await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 64 })
        @*@await Component.InvokeAsync("PopularProductTags")*@
        @await Component.InvokeAsync("PollBlock", new { systemKeyword = "LeftColumnPoll" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfter })
    }
</div>
<div class="center-2">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnBefore })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnAfter })
</div>


