﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}


<div class="product-item" data-productid="@Model.Id">

</div>

<div class="product-item" data-productid="@Model.Id">
    <div class="picture">

        @if (Model.ProductType == ProductType.GroupedProduct && Model.ProductAttributes.Any() && Model.ProductAttributes.First().AttributeControlType == AttributeControlType.ImageSquares)
        {
            var preselected = Model.ProductAttributes.First().Values.OrderByDescending(x => x.IsPreSelected).FirstOrDefault()?.ImageSquaresPictureModel;

            <a href="@Url.RouteUrl("Product", new { SeName = @"product/" + Model.SeName + "/" }).Replace("%2F", @"/")" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@preselected.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a>

        }

        else
        {
            <a href="@Url.RouteUrl("Product", new { SeName = @"product/" + Model.SeName + "/" }).Replace("%2F", @"/")" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a>
            <div class="attributes">
                @{
                    var dataDictAttributesGroup = new ViewDataDictionary(ViewData);
                    dataDictAttributesGroup.TemplateInfo.HtmlFieldPrefix = $"attributes_pbox_{Model.Id}";
                    @await Html.PartialAsync("_ProductBoxAttributes", Model, dataDictAttributesGroup)
                }
            </div>
        }
        @* added product/ to the url when you are opening a product  *@
    </div>
    <div class="details">
        <div class="product-title">
            @* added product/ to the url when you are opening a product  *@
            <a href="@Url.RouteUrl("Product", new {SeName = @"product/" + Model.SeName + "/"}).Replace("%2F", @"/")">@Model.Name</a>
        </div>
        @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
        {
            <div class="sku">
                @Model.Sku
            </div>
        }
        @if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            var ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
            }
            <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        }
        <div class="description">
            @Html.Raw(Model.ShortDescription)
        </div>
        <div class="add-info">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoBefore, additionalData = Model })
            @if (Model.Stock > 0)
            {
                <div class="stock-products-overview">
                    <strong>@Model.StockMessage</strong>
                </div>

                if (Model.DeliveryDate != null)
                {
                    <div class="deliverydate-products-overview">
                        Levertijd: @Model.DeliveryDate.Name
                    </div>
                }
            }
            else
            {
                if (string.IsNullOrEmpty(Model.DeliveryDateString))
                {
                    <div class="not-in-stock">
                        Leverbaar over @Model.StockMessage
                    </div>
                }
                else if(!Model.DeliveryDateString.Contains("voorraad"))
                {
                    <div class="not-in-stock">
                        Leverbaar over @Model.DeliveryDateString
                    </div>
                }
            }
            <div class="prices">
                @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                {
                    <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                }
                <span class="price actual-price">@Model.ProductPrice.Price</span>
                @if (Model.ProductPrice.DisplayTaxShippingInfo)
                {
                    var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <span class="tax-shipping-info">
                        @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </span>
                }
                @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                {
                    <div class="base-price-pangv">
                        @Model.ProductPrice.BasePricePAngV
                    </div>
                }
            </div>
            @if (Model.ProductType == ProductType.GroupedProduct && Model.ProductAttributes.Any() && Model.ProductAttributes.First().AttributeControlType == AttributeControlType.ImageSquares)
            {
                <!--attributes  Deze alleen tonen wanneer ook attributen heeft -->
                <div class="attributes">
                    @{
                        var dataDictAttributesGroup = new ViewDataDictionary(ViewData);
                        dataDictAttributesGroup.TemplateInfo.HtmlFieldPrefix = $"attributes_pbox_{Model.Id}";
                        @await Html.PartialAsync("_ProductBoxAttributes", Model, dataDictAttributesGroup)
                    }
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoMiddle, additionalData = Model })
            <div class="buttons">
                @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                @if (!Model.ProductPrice.DisableBuyButton)
                {
                    var addToCartText = T("ShoppingCart.AddToCart").Text;
                    if (Model.ProductPrice.IsRental)
                    {
                        addToCartText = T("ShoppingCart.Rent").Text;
                    }
                    if (Model.ProductPrice.AvailableForPreOrder)
                    {
                        addToCartText = T("ShoppingCart.PreOrder").Text;
                    }
                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                }
                @if (!Model.ProductPrice.DisableAddToCompareListButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                }
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                }
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoAfter, additionalData = Model })
        </div>
    </div>
</div>
