﻿@model ProductOverviewModel

@using Nop.Web.Areas.Admin.Models.Catalog;
@using  Nop.Core.Domain.Catalog;

@if (Model.ProductAttributes.Count > 0)
{
    foreach (var attribute in Model.ProductAttributes)
    {
        var controlId = $"product_attribute_{attribute.Id}";
        var textPrompt = !string.IsNullOrEmpty(attribute.TextPrompt) ? attribute.TextPrompt : attribute.Name;
        <div class="form-group">            
            <div class="col-sm-12">                
                <div class="input-group input-group-required">
                    @switch (attribute.AttributeControlType)
                    {
                        case AttributeControlType.DropdownList:
                            {
                            <ul class="option-list attribute-squares attribute-rectangles" id="dropdown-squares-@(attribute.Id)">
                                @foreach (var attributeValue in attribute.Values.OrderByDescending(x => x.IsPreSelected))
                                {
                                    var attributeData =
                                        $"Van {attributeValue.PriceAdjustment.Replace("+", "")}";

                                    Console.WriteLine(attributeData + " test test");

                                    <li data-price="@attributeData" @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                        <label for="@(controlId)_@(attributeValue.Id)">
                                            <span class="attribute-square-container">
                                                <span class="attribute-rectangle">@attributeValue.Name</span>
                                            </span>
                                        </label>
                                        
                                    </li>

                                }
                            </ul>
                            <script type="text/javascript">
                                        $("#dropdown-squares-@(attribute.Id) > li").click(function (clcElem) {
                                            $("#dropdown-squares-@(attribute.Id) > li").each(function (index, element) {
                                                $(element).removeClass("selected-value");
                                            });
                                            $(clcElem.currentTarget).addClass("selected-value");

                                            var attributeValId = $(clcElem.currentTarget).attr("data-price")
                                            console.log(attributeValId)
                                            var pricetoChange = $("#dropdown-squares-@(attribute.Id)").closest(".product-item").find(".details").find(".add-info").find(".prices").find("span")
                                            console.log(pricetoChange)
                                            pricetoChange.text(attributeValId)

                                        });
                            </script> 
                            }
                            break;

                        //For more possible options check view _ProductBox
                        case AttributeControlType.ImageSquares:
                            {
                                <ul class="option-list attribute-squares image-squares" id="image-squares-@(attribute.Id)">
                                    @foreach (var attributeValue in attribute.Values.OrderByDescending(x => x.IsPreSelected))
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment, string.Empty).Text;

                                        <li data-img="@(attributeValue.ImageSquaresPictureModel.FullSizeImageUrl)" @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                            <label for="@(controlId)_@(attributeValue.Id)">
                                                <span class="attribute-square-container">
                                                    <span class="attribute-square" style="background: url('@(attributeValue.ImageSquaresPictureModel.FullSizeImageUrl)') 50% 50% no-repeat;">&nbsp;</span>
                                                </span>
                                            </label>
                                            <div class="tooltip-container">
                                                <div class="tooltip-body"><img src="@(attributeValue.ImageSquaresPictureModel.FullSizeImageUrl)" alt="@attributeName" /></div>
                                            </div>
                                        </li>

                                    }
                                    <li>
                                        <a href="@Url.RouteUrl("Product", new { SeName = @"product/" + Model.SeName + "/" }).Replace("%2F", @"/")" title="@Model.DefaultPictureModel.Title">
                                            <label>
                                                <span class="attribute-square-container">
                                                    <span class="attribute-square" style="background: url('/Themes//DefaultClean/Content/images/more.jpg') 50% 50% no-repeat;">&nbsp;</span>
                                                </span>
                                            </label>
                                        </a>
                                        @*<label for="@(controlId)_@(Model.Id)">
                                <span class="attribute-square-container">
                                    <span class="attribute-square" style="background: url('/Themes//DefaultClean/Content/images/more.png') 50% 50% no-repeat;">&nbsp;</span>
                                </span>
                            </label>*@
                                    </li>
                                </ul>
                                <script type="text/javascript">
                                        $("#image-squares-@(attribute.Id) > li").click(function (clcElem) {
                                            $("#image-squares-@(attribute.Id) > li").each(function (index, element) {
                                                $(element).removeClass("selected-value");
                                            });
                                            $(clcElem.currentTarget).addClass("selected-value");
                                            var imgSrc = $(clcElem.currentTarget).attr("data-img")
                                            var pBoxImg = $("#image-squares-@(attribute.Id)").closest(".product-item").find(".picture").find("a").find("img");
                                            pBoxImg.attr("src", imgSrc);
                                        });
                                </script>
                            }
                            break;
                    }
                    
                </div>                
            </div>
        </div>
    }
}
