﻿@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="master-wrapper-page">
    @await Component.InvokeAsync("AdminHeaderLinks")
    @await Html.PartialAsync("_Header")
    <script asp-location="Footer">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="header-menu-wrapper">
        <div class="header-menu">
            @await Component.InvokeAsync("TopMenu")
        </div>
    </div>
    <div class="usp-holder">
        <div class="container-wrapper">
            <div class="discount-box admin-header-links" style="visibility:hidden">
                
            </div>
        </div>
    </div>
    <div class="usp-holder">
        <div class="container-wrapper">
            <ul class="usp">
                <li><span><i class="far fa-calendar-alt"></i> Snelle</span> levering</li>
                <li class="hidden-sm"><span><i class="fas fa-undo-alt"></i> 30 dagen</span> bedenktijd</li>
                <li class="hidden-sm hidden-md"><span><i class="fas fa-door-open"></i> Achteraf</span> betalen</li>
                <li class="hidden-sm hidden-md"><span><i class="fas fa-store-alt"></i> Echte</span> showroom</li>
                <li class="hidden-sm review"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> 8.2 door 395 klanten</li>
            </ul>
        </div>
    </div>
    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("LdJson"))
        {
            @section LdJson {
                @RenderSection("LdJson")
            }
        }
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        @if (IsSectionDefined("NoFollowNoIndex"))
        {
            @section NoFollowNoIndex {
                @RenderSection("NoFollowNoIndex")
            }
        }
        @if (IsSectionDefined("FilterTitle"))
        {
            @section FilterTitle {
                @RenderSection("FilterTitle")
            }
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
