﻿@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {

        var categoryUrl = Url.RouteUrl("Category", new { SeName = $"{Model.Parent}/{Model.SeName}" }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var baseUrl = Context.Request.Scheme + "://" +
    Context.Request.Host;

    var index = 1;
    var jsonProducts = "";
    Model.Products.ToList().ForEach(x =>
    {
        var stock = x.Stock > 0 ? @"https://schema.org/InStock" : @"https://schema.org/OutOfStock";

        jsonProducts += "{";
        jsonProducts += " \"@type\": \"ListItem\", ";
        jsonProducts += $"\"position\": \"{index}\", ";
        jsonProducts += $"\"url\": \"{baseUrl}/product/{x.SeName}\" ";
        jsonProducts += "},";

        index++;

    });

    if (jsonProducts.Length > 0)
    {
        jsonProducts = jsonProducts.Remove(jsonProducts.Length - 1);
    }
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}

@section NoFollowNoIndex
{
    @if (Model.NrOfSelectedFilters > 1)
    {
        <meta name="robots" content="noindex, nofollow">

        @await Component.InvokeAsync("Widget", new
        {
            widgetZone = PublicWidgetZones.CategoryDetailsBeforeFiltersNoIndexNoFollor,
            additionalData = Model
        })
    }
}


@section FilterTitle {
    <title>@Model.Specs  @Html.NopTitle()</title>
    @await Component.InvokeAsync("Widget", new
           {
               widgetZone = PublicWidgetZones.CategoryDetailsFilterTitle,
               additionalData = Model
           })
}

@section LdJson
{
    @if (jsonProducts != "")
    {
        <script type="application/ld+json">
            {
            @Html.Raw("\"@context\""): "https://schema.org/",
            @Html.Raw("\"@type\""): "ItemList",
            "itemListElement": [ @Html.Raw(jsonProducts) ]
            }     
        </script>
    }
    else
    {
        <script type="application/ld+json">
            {
            @Html.Raw("\"@context\""): "https://schema.org/",
            @Html.Raw("\"@type\""): "Thing",
            @Html.Raw("\"@Name\""): "@Model.Name",
            @Html.Raw("\"@Description\""): "@Model.MetaDescription"
            }

        </script>
    }


    @await Component.InvokeAsync("Widget", new
    {
        widgetZone = PublicWidgetZones.CategoryDetailsAfterLdJson,
        additionalData = Model
    })
}

@section Breadcrumb
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @{ int position = 1; }
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        @if (isLastCategory)
                        {
                            <strong class="current-item" itemprop="name">@cat.Name</strong>
                            <span itemprop="item" itemscope itemtype="http://schema.org/Thing">

                                <link itemprop="url" href="@Url.RouteUrl("Category", new { SeName = cat.SeName }).Replace("%2F","/")" />
                            </span>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName}).Replace("%2F","/")" title="@cat.Name" itemprop="item">
                                <span itemprop="name"> @cat.Name </span>
                            </a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                        <meta itemprop="position" content="@position" />
                    </li>
                    position++;
                }
            </ul>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterBreadcrumb, additionalData = Model })
    }
}
<div class="page category-page">

    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsTop, additionalData = Model })
        @*description*@
        <div class="category-container">
            <div class="page-title">
                <h1>@Model.Name</h1>
            </div>

            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeSubcategories, additionalData = Model })
            @*subcategories*@
            @if (Model.SubCategories.Count > 0)
            {
                <div class="category-grid sub-category-grid">
                    <div class="item-grid">
                        @foreach (var item in Model.SubCategories)
                        {
                            <div class="item-box">
                                <div class="sub-category-item">
                                    <h2 class="title">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.Parent + item.SeName }).Replace("%2F", @"/")" title="@item.PictureModel.Title">

                                            @item.Name
                                        </a>
                                    </h2>
                                    <div class="picture">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.Parent + item.SeName }).Replace("%2F", @"/")" title="@item.PictureModel.Title">
                                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeFeaturedProducts, additionalData = Model })

            @if (Model.Products.Count > 0)
            {
                @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeFilters, additionalData = Model })
            <div class="product-filters">
                @*@if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
            }*@
                @*filtering*@
                @*@if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
            }*@
            </div>
            @{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            }
            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeProductList, additionalData = Model })

            @if (Model.Products.Count > 0)
            {
                <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                    <div class="item-grid">
                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
            }

            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                @await Component.InvokeAsync("Widget", new { widgetZone = "PRODUCTS_PAGE_FOOTER" })

                <div class="category-container" id="r">
                    <div class="page-title">
                        <h2>@Model.Name</h2>
                    </div>
                    <div class="category-description">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBottom, additionalData = Model })
        </div>
    </div>
