﻿@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

body {
    background-color: white;
    color: #777777;
    font-family: "Karla", sans-serif !important;
}

a {
    color: #35a366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Source Sans Pro", sans-serif;
}

h2 {
    font-size: 20px;
    text-align: left;
}

.container-wrapper {
    width: 95% !important;
    margin: 0 auto;
}

.center-1 {
    margin-bottom: 0;
}

@media (min-width: 1001px) {
    .show-md {
        display: none !important;
    }
}

@media (max-width: 769px) {
    .hidden-sm {
        display: none !important;
    }

    div.title {
        background-color: transparent !important;
    }

        div.title strong {
            background-color: transparent !important;
            color: #777777 !important;
        }
}

@media (max-width: 1000.98px) {
    .hidden-md {
        display: none !important;
    }

    .show-md {
        display: inline-block !important;
    }
}

@media (max-width: 1366.98px) {
    .hidden-lg {
        display: none !important;
    }
}

.pay-off {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .pay-off h1 {
        font-weight: 600;
    }

        .pay-off h1 b {
            font-weight: 700;
        }

.master-wrapper-page {
    margin-top: 102px;
}

.master-wrapper-content .master-column-wrapper {
    margin-top: 0px;
}

@media (max-width: 768.98px) {
    .master-wrapper-content .master-column-wrapper .center-1 {
        margin-bottom: 0;
    }
}

ul.usp {
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

    ul.usp li {
        display: inline-block;
        margin-right: 12px;
        color: black;
        font-size: 16px;
    }

        ul.usp li:before {
            display: none;
            display: none;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00c";
            color: #0bcc79;
            margin-right: 4px;
        }

        ul.usp li span {
            color: #ea8a45 !important;
            font-weight: 700;
        }

        ul.usp li:last-child:before {
            display: none;
        }

        ul.usp li.review i {
            color: #ea8a45;
            font-size: 11px;
        }

@media (max-width: 769px) {
    ul.usp {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.usp-product li:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #35a366;
    margin-right: 8px;
}

.usp-product li span {
    color: #ea8a45 !important;
    font-weight: 700;
    display: inline-block;
}

.usp-product li > div {
    display: inline-block;
    vertical-align: top;
}

.usp-product li .availability {
    margin-bottom: 0 !important;
}

.usp-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 4px;
}

    .usp-text .usp-item {
        border-radius: 4px;
        margin: 0 12px;
        padding: 4px 16px;
        width: calc(50% - 24px) !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .usp-text .usp-item .icon {
            color: #35a366;
            font-size: 20px;
            margin-right: 20px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            color: #35a366 !important;
        }

        .usp-text .usp-item .title {
            font-size: 22px;
            font-weight: 800;
            text-align: left;
            font-family: "Source Sans Pro", sans-serif;
            color: #35a366 !important;
            line-height: 26px;
            background-color: transparent !important;
        }

        .usp-text .usp-item p {
            padding: 0;
            text-align: left;
            color: black;
            font-size: 16px;
        }

.header-wrapper {
    background-color: #fbfaf4;
    background-color: #e6ffeb;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0;
}

    .header .header-lower {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        width: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: static;
    }

        .header .header-lower .header-logo {
            margin: 0;
            margin-right: 32px;
        }

            .header .header-lower .header-logo a img {
                max-width: 100px;
            }

@media (max-width: 768.98px) {
    .header .header-lower .search-box {
        position: absolute;
        top: 66px;
        right: 0px;
    }

        .header .header-lower .search-box #small-search-box-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: auto;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .header .header-lower .search-box #small-search-box-form .search-box-text {
                width: auto !important;
                border-color: #156538;
            }

            .header .header-lower .search-box #small-search-box-form .search-box-button {
                width: auto !important;
                min-width: 100px !important;
                margin-top: 0 !important;
                background: #156538 !important;
                padding-bottom: 6px;
            }
}

@media (max-width: 460px) {
    .header .header-lower .search-box #small-search-box-form .search-box-text {
        width: 150px !important;
    }

    .header .header-lower .search-box #small-search-box-form .search-box-button {
        min-width: 60px !important;
        padding: 6px 12px;
    }
}

.header .header-lower .search-box ::-webkit-input-placeholder {
    color: #bbbbbb;
}

.header .header-lower .search-box :-ms-input-placeholder {
    color: #bbbbbb;
}

.header .header-lower .search-box ::-ms-input-placeholder {
    color: #bbbbbb;
}

.header .header-lower .search-box ::placeholder {
    color: #bbbbbb;
}

.header .header-lower .search-box.store-search-box .search-box-text {
    width: auto !important;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-color: #35a366;
    padding-left: 15px;
}

.header .header-lower .search-box.store-search-box .search-box-button {
    text-transform: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background: #35a366 !important;
    font-weight: 600;
}

.header .header-lower .badge-holder {
    position: absolute;
    right: 260px;
    top: -23px;
}

    .header .header-lower .badge-holder .badge {
        width: 82px;
    }

.header .header-upper {
    border: none;
}

    .header .header-upper .header-selectors-wrapper {
        padding: 0;
        border: none;
    }

    .header .header-upper .header-links-wrapper {
        padding: 0;
    }

        .header .header-upper .header-links-wrapper .header-links ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            .header .header-upper .header-links-wrapper .header-links ul li {
                margin: 0 8px;
            }

                .header .header-upper .header-links-wrapper .header-links ul li a, .header .header-upper .header-links-wrapper .header-links ul li span {
                    white-space: nowrap;
                    font-size: 14px;
                    color: #35a366 !important;
                    text-transform: none;
                    font-weight: 600;
                    line-height: 40px;
                }

                    .header .header-upper .header-links-wrapper .header-links ul li a .wishlist-label, .header .header-upper .header-links-wrapper .header-links ul li span .wishlist-label {
                        padding: 0 !important;
                        display: none;
                    }

                    .header .header-upper .header-links-wrapper .header-links ul li a .cart-label, .header .header-upper .header-links-wrapper .header-links ul li span .cart-label {
                        display: none;
                    }

                    .header .header-upper .header-links-wrapper .header-links ul li a:hover, .header .header-upper .header-links-wrapper .header-links ul li span:hover {
                        color: #2b2b2b !important;
                    }

                        .header .header-upper .header-links-wrapper .header-links ul li a:hover span, .header .header-upper .header-links-wrapper .header-links ul li span:hover span {
                            color: #2b2b2b !important;
                        }

                .header .header-upper .header-links-wrapper .header-links ul li#topcartlink {
                    padding: 0 8px;
                    padding-right: 0;
                    background-color: transparent;
                    margin: 0;
                }

                    .header .header-upper .header-links-wrapper .header-links ul li#topcartlink a {
                        background-color: white !important;
                        padding: 0 16px;
                        border-radius: 24px;
                        background-image: none;
                        border: 1px solid #35a366;
                    }

                .header .header-upper .header-links-wrapper .header-links ul li:hover {
                    background: transparent !important;
                }

@media (max-width: 480px) {
    .badge-holder {
        display: none;
    }
}

.header-menu-wrapper {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    width: 100%;
    top: 58px;
    z-index: 999;
}

.header-menu {
    background-color: transparent !important;
    margin-bottom: 0;
    padding: 0px;
    text-align: left;
    width: 95% !important;
    max-width: none;
    border: none;
}

    .header-menu ul.top-menu > li {
        border: none;
        padding: 0 4px;
    }

        .header-menu ul.top-menu > li:first-child a {
            padding-left: 0;
        }

        .header-menu ul.top-menu > li:last-child {
            float: right;
        }

        .header-menu ul.top-menu > li > a {
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            color: black;
            font-weight: bold;
            padding: 12px 8px;
            font-size: 16px;
        }

        .header-menu ul.top-menu > li ul.sublist {
            padding: 0;
        }

            .header-menu ul.top-menu > li ul.sublist.first-level li a {
                padding: 12px 16px 12px 16px;
            }

            .header-menu ul.top-menu > li ul.sublist.first-level li:hover a {
                background-color: #35a366 !important;
            }

        .header-menu ul.top-menu > li:hover > a {
            color: #35a366 !important;
        }

    .header-menu .menu-toggle {
        background-image: none !important;
        background-color: #35a366 !important;
        padding: 16px 16px;
        text-transform: none;
    }

        .header-menu .menu-toggle span {
            color: white !important;
        }

        .header-menu .menu-toggle:before {
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0c9";
            color: white;
            margin-right: 8px;
        }

@media (min-width: 1001px) {
    .header-menu {
        width: 980px !important;
        margin: 0 auto;
    }

    .container-wrapper {
        width: 980px !important;
        margin: 0 auto;
    }
}

@media (min-width: 1367px) {
    .header-menu {
        width: 1200px !important;
    }

    .container-wrapper {
        width: 1200px !important;
    }
}

@media (max-width: 1001.98px) {
    .header-menu {
        width: 100% !important;
    }

        .header-menu ul.top-menu {
            padding: 0 16px;
            background-color: white;
            -webkit-box-shadow: 3px 3px 9px #cecece;
            box-shadow: 3px 3px 9px #cecece;
            height: calc(100vh - 107px);
            overflow-y: auto;
        }

            .header-menu ul.top-menu.mobile {
                margin: 0;
            }

                .header-menu ul.top-menu.mobile li {
                    margin: 0;
                    background-color: white !important;
                }

                    .header-menu ul.top-menu.mobile li a {
                        color: black;
                        font-size: 16px;
                    }

                    .header-menu ul.top-menu.mobile li:hover a {
                        color: black !important;
                    }

                    .header-menu ul.top-menu.mobile li:last-child {
                        float: none;
                    }
}

@media (max-width: 460px) {
    .menu-toggle span {
        display: none;
    }
}

.center-2 .page.category-page .page-body .category-container {
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    border-top: 2px solid #35a366;
}

    .center-2 .page.category-page .page-body .category-container .page-title {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        min-height: 0;
        border-color: #f2f2f2;
        padding-bottom: 8px;
    }

        .center-2 .page.category-page .page-body .category-container .page-title h1 {
            font-size: 16px;
            color: black;
            font-weight: 300;
        }

    .center-2 .page.category-page .page-body .category-container .category-description {
        padding: 0;
        margin: 0;
    }

        .center-2 .page.category-page .page-body .category-container .category-description p:empty {
            display: none;
        }

        .center-2 .page.category-page .page-body .category-container .category-description p {
            padding: 0;
            margin: 0;
        }

.center-2 .page.category-page .page-body .sub-category-grid {
    margin-top: 24px;
}

    .center-2 .page.category-page .page-body .sub-category-grid .item-grid {
        background: transparent !important;
    }

        .center-2 .page.category-page .page-body .sub-category-grid .item-grid .item-box {
            border: 1px solid #f2f2f2;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 8px;
        }

            .center-2 .page.category-page .page-body .sub-category-grid .item-grid .item-box .sub-category-item .title {
                text-align: left;
            }

                .center-2 .page.category-page .page-body .sub-category-grid .item-grid .item-box .sub-category-item .title a {
                    font-family: "Karla", sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 16px;
                    color: black !important;
                }

.center-2 .page.category-page .page-body .product-grid .item-grid {
    background-color: transparent !important;
}

    .center-2 .page.category-page .page-body .product-grid .item-grid .item-box {
        border: 1px solid #f2f2f2;
        background-color: white;
        border-radius: 4px;
        margin-bottom: 8px;
    }

        .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .product-title a {
            font-family: "Karla", sans-serif;
            color: #777777 !important;
            font-size: 16px;
        }

        .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .add-info .buttons {
            display: none;
        }

        .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock {
            font-size: 14px !important;
            font-weight: 600;
        }

            .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock:before {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f472";
                color: #777777;
                margin-right: 1px;
            }

.item-box {
    position: relative;
}

    .item-box .product-item .details .attributes {
        z-index: 2;
        margin: 0;
    }

        .item-box .product-item .details .attributes .label-wrapper {
            font-weight: bold;
            color: #444;
        }

@media (min-width: 768.98px) {
    .item-box .product-item .details .attributes ul.attribute-squares.image-squares li:nth-of-type(1n+4) {
        display: none;
    }
}

@media (min-width: 768.98px) {
    .item-box .product-item .details .attributes ul.attribute-squares.image-squares li:nth-last-of-type(1) {
        display: inline-block;
    }
}

@media (max-width: 768.98px) {
    .item-box .product-item .details .attributes ul.attribute-squares.image-squares li:nth-last-of-type(1) {
        display: none;
    }
}

.item-box .product-item .details .attributes ul.attribute-squares.image-squares li .attribute-square-container .attribute-rect {
    margin: 0 !important;
    border: 1px solid #ebebeb !important;
    background-size: contain !important;
    width: 300px !important;
    height: 50px !important;
    border-radius: 4px;
}

.item-box .product-item .details .attributes ul.attribute-squares.image-squares li .attribute-square-container .attribute-square {
    margin: 0 !important;
    border: 1px solid #ebebeb !important;
    background-size: contain !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 4px;
}

    .item-box .product-item .details .attributes ul.attribute-squares.image-squares li .attribute-square-container .attribute-square:hover {
        border: 1px solid #35a366 !important;
    }

.item-box .product-item .details .attributes ul.attribute-squares.image-squares li .tooltip-container {
    display: none;
}

.item-box .product-item .details .attributes .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .item-box .product-item .details .attributes .input-group .input-group-value {
        margin-right: 4px;
        color: black;
    }

.attribute-rectangles {
    font-size: 0;
    margin-left: 15px;
}

    .attribute-rectangles .attribute-rectangle {
        display: table !important;
        width: 70px !important;
        color: black !important;
        height: 20px !important;
        border: 1px solid #444 !important;
        cursor: pointer;
        font-size: 1rem;
    }


.item-box:hover {
    border: 1px solid #c9c9c9 !important;
    -webkit-box-shadow: 0px 3px 4px #e4e4e4;
    box-shadow: 0px 3px 4px #e4e4e4;
}

@media (max-width: 1000.98px) {
    .breadcrumb {
        background-color: transparent !important;
        color: #777777 !important;
    }

    .html-account-page .side-2 > .block > .title {
        padding: 10px !important;
    }

    .html-category-page .side-2 {
        margin-bottom: 24px;
    }

        .html-category-page .side-2 .toggle-filter {
            display: block;
            border: 1px solid #f2f2f2;
            background-color: white;
            border-radius: 4px;
        }

            .html-category-page .side-2 .toggle-filter a {
                display: block;
                padding: 16px 16px;
            }

        .html-category-page .side-2.active .toggle-filter {
            margin-bottom: 16px;
        }

        .html-category-page .side-2.active > .block {
            display: block;
        }

        .html-category-page .side-2 > .block {
            max-width: none;
            border-color: white;
            padding: 0;
            display: none;
        }

            .html-category-page .side-2 > .block > .title {
                padding: 16px;
                border: 1px solid #f2f2f2;
                background-color: white !important;
                margin: 0;
                font-family: "Karla", sans-serif;
                border-radius: 4px;
            }

                .html-category-page .side-2 > .block > .title:before {
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                    color: #777777;
                    margin-right: 4px;
                    font-size: 14px;
                }

                .html-category-page .side-2 > .block > .title strong {
                    background-color: transparent !important;
                    color: #777777 !important;
                    font-size: 14px;
                }

            .html-category-page .side-2 > .block > .listbox {
                border: none;
                margin-top: 12px;
                padding: 16px;
                background-color: white;
                border: 1px solid #f2f2f2;
                margin-bottom: 8px;
                border-radius: 4px;
            }

                .html-category-page .side-2 > .block > .listbox ul.list li.item a {
                    padding: 12px 0;
                }

                    .html-category-page .side-2 > .block > .listbox ul.list li.item a:before {
                        top: 21px;
                    }

                .html-category-page .side-2 > .block > .listbox .filtered-item .title {
                    font-family: "Karla", sans-serif;
                    background-color: transparent !important;
                    background-image: none;
                    font-size: 16px;
                    color: black;
                    padding-bottom: 8px;
                }

                .html-category-page .side-2 > .block > .listbox .filtered-item .item {
                    color: #777777;
                    margin: 0 !important;
                    font-weight: 600;
                }

                .html-category-page .side-2 > .block > .listbox .remove-filter a {
                    text-transform: normal;
                    border-radius: 4px;
                }
}

.html-product-details-page .master-column-wrapper {
    margin-top: 0;
}

.product-details-page .product-essential .gallery {
    position: relative;
}

@media (min-width: 1001px) {
    .product-details-page .product-essential .gallery {
        width: 52%;
    }
}

.product-details-page .product-essential .gallery .picture img {
    border: 1px solid #f2f2f2;
}

.product-details-page .product-essential .gallery .add-to-wishlist {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9;
}

    .product-details-page .product-essential .gallery .add-to-wishlist .add-to-wishlist-button {
        border-radius: 36px;
        height: 30px;
        width: 31px;
        background-position: center;
        padding: 4px;
        text-indent: -9999px;
        background-image: url(../images/wishlist-button.png);
        background-repeat: no-repeat;
        border: none;
    }

        .product-details-page .product-essential .gallery .add-to-wishlist .add-to-wishlist-button:hover {
            background-image: url(../images/wishlist-button-hover.png) !important;
            background-repeat: no-repeat !important;
            background-color: #35a366 !important;
            background-position: center !important;
            border: none;
        }

.product-details-page .product-essential .overview {
    background-color: transparent !important;
}

@media (min-width: 1001px) {
    .product-details-page .product-essential .overview {
        width: 46%;
    }
}

.product-details-page .product-essential .overview .product-name {
    margin-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;
}

    .product-details-page .product-essential .overview .product-name h1 {
        line-height: 28px;
        font-size: 22px;
        color: black;
        font-weight: bold;
    }

    .product-details-page .product-essential .overview .product-name .reviews {
        margin-top: 4px;
    }

        .product-details-page .product-essential .overview .product-name .reviews i {
            color: #ea8a45;
            font-size: 11px;
        }

    .product-details-page .product-essential .overview .product-name .shipping-time {
        margin-top: 4px;
    }

        .product-details-page .product-essential .overview .product-name .shipping-time i {
            margin-right: 4px;
        }

    .product-details-page .product-essential .overview .product-name .availability {
        margin-top: 4px;
    }

        .product-details-page .product-essential .overview .product-name .availability .stock .value {
            color: #35a366 !important;
            font-weight: bold;
        }

.product-details-page .product-essential .overview .short-description {
    margin-bottom: 12px;
}

.product-details-page .product-essential .overview .attributes dl ul li.selected-value .attribute-square-container {
    background-color: transparent;
}

    .product-details-page .product-essential .overview .attributes dl ul li.selected-value .attribute-square-container .attribute-square {
        border: 1px solid #35a366 !important;
    }

.product-details-page .product-essential .overview .attributes dl ul li:hover .attribute-square-container .attribute-square {
    border: 1px solid #c9c9c9 !important;
}

.product-details-page .product-essential .overview .attributes dl ul li .attribute-square-container .attribute-square {
    margin: 0 !important;
    border: 1px solid #ebebeb !important;
    background-size: contain !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 4px;
}

.product-details-page .product-essential .overview .attributes dl ul li .tooltip-container {
    display: none;
}

.product-details-page .product-essential .overview .attributes select {
    width: 100%;
    height: 40px;
}

.product-details-page .product-essential .overview .product-specs-link {
    margin-bottom: 12px;
}

.product-details-page .product-essential .overview .manufacturers {
    margin-bottom: 4px;
}

.product-details-page .product-essential .overview .availability {
    margin-bottom: 4px;
}

    .product-details-page .product-essential .overview .availability .stock {
        margin-bottom: 0px;
    }

.product-details-page .product-essential .overview .additional-details {
    margin-bottom: 12px;
}

.product-details-page .product-essential .overview .prices .product-price span {
    color: black !important;
}

.product-details-page .product-essential .overview .add-to-cart {
    margin-bottom: 8px;
}

    .product-details-page .product-essential .overview .add-to-cart .add-to-cart-panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .product-details-page .product-essential .overview .add-to-cart .add-to-cart-panel .qty-input {
            border-radius: 4px;
        }

        .product-details-page .product-essential .overview .add-to-cart .add-to-cart-panel .add-to-cart-button {
            /* background-color: #ea8a45 !important;*/
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border-radius: 4px;
            margin-left: 8px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            font-size: 16px;
            text-transform: none;
            font-weight: 700;
        }

            .product-details-page .product-essential .overview .add-to-cart .add-to-cart-panel .add-to-cart-button:hover {
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #cf7535 !important;
            }

.product-details-page .product-essential .overview .overview-buttons .compare-products {
    display: none;
}

.product-details-page .product-essential .overview .overview-buttons .email-a-friend {
    display: none;
}

.product-details-page .product-essential .overview .product-share-button {
    display: none;
}

.product-details-page .product-essential .more-info {
    width: 120px;
}

.product-details-page .product-collateral-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .product-details-page .product-collateral-holder .product-collateral {
        width: 60%;
        margin-bottom: 0;
    }

        .product-details-page .product-collateral-holder .product-collateral .product-specs-box {
            margin-bottom: 0px;
        }

            .product-details-page .product-collateral-holder .product-collateral .product-specs-box .title {
                text-align: left;
                background-color: transparent !important;
            }

                .product-details-page .product-collateral-holder .product-collateral .product-specs-box .title strong {
                    background-color: transparent !important;
                    color: #444 !important;
                    font-weight: 800;
                }

        .product-details-page .product-collateral-holder .product-collateral .table-wrapper table.data-table tr td {
            border: none;
        }

            .product-details-page .product-collateral-holder .product-collateral .table-wrapper table.data-table tr td:first-child {
                font-weight: 600;
                min-width: 200px;
            }

        .product-details-page .product-collateral-holder .product-collateral .table-wrapper table.data-table tr.even td {
            background-color: #f3f3f3;
        }

        .product-details-page .product-collateral-holder .product-collateral .tabs-content .product-collateral__item {
            margin-bottom: 16px;
            padding-bottom: 24px;
            border-bottom: 1px solid #eaeaea;
        }

            .product-details-page .product-collateral-holder .product-collateral .tabs-content .product-collateral__item .title {
                text-align: left;
            }

                .product-details-page .product-collateral-holder .product-collateral .tabs-content .product-collateral__item .title strong {
                    font-weight: 800;
                    color: #444 !important;
                    font-family: "Source Sans Pro", sans-serif;
                }

    .product-details-page .product-collateral-holder .cross-selling {
        width: 40%;
        padding-left: 16px;
    }

        .product-details-page .product-collateral-holder .cross-selling .bestsellers.product-grid .item-grid .item-box, .product-details-page .product-collateral-holder .cross-selling .related-products-grid.product-grid .item-grid .item-box, .product-details-page .product-collateral-holder .cross-selling .also-purchased-products-grid .item-grid .item-box {
            width: calc(50% - 16px) !important;
        }

@media (max-width: 1000.98px) {
    .html-product-details-page .page {
        text-align: left;
    }
}

@media (max-width: 960px) {
    .product-details-page .product-collateral-holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .product-details-page .product-collateral-holder .product-collateral {
            width: 100%;
        }

        .product-details-page .product-collateral-holder .cross-selling {
            width: 100%;
            padding-left: 0;
        }

    .table-wrapper table.data-table tr td:first-child {
        min-width: 0 !important;
    }
}

@media (max-width: 768.98px) {
    .html-product-details-page .add-to-cart .add-to-cart-panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .html-product-details-page .add-to-cart .add-to-cart-panel .add-to-cart-button {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

    .html-product-details-page .overview-buttons .add-to-wishlist {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .html-product-details-page .overview-buttons .add-to-wishlist .add-to-wishlist-button {
            margin-top: 8px;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
}

.topic-block .topic-block-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px;
}

@media (max-width: 769px) {
    .topic-block .topic-block-body {
        margin: 0px;
    }
}

.topic-block .topic-block-body a {
    text-decoration: none;
}

.topic-block .topic-block-body p {
    padding: 0;
    line-height: 22px;
}

.topic-block .topic-block-body h1 {
    margin-bottom: 16px;
}

.topic-block .topic-block-body h2 {
    margin-bottom: 16px;
}

.topic-block .topic-block-body h3 {
    margin-bottom: 12px;
}

.topic-block .topic-block-body .text-field-1, .topic-block .topic-block-body .text-field-2, .topic-block .topic-block-body .text-field-3, .topic-block .topic-block-body .text-field-4 {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    width: auto !important;
    width: calc(50% - 24px) !important;
    margin: 0 12px;
    margin-bottom: 24px;
}

@media (max-width: 769px) {
    .topic-block .topic-block-body .text-field-1, .topic-block .topic-block-body .text-field-2, .topic-block .topic-block-body .text-field-3, .topic-block .topic-block-body .text-field-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100% !important;
        margin: 0;
        margin-bottom: 12px !important;
    }
}

.bestsellers.product-grid, .related-products-grid.product-grid, .also-purchased-products-grid, .home-page-product-grid {
    padding-top: 0 !important;
    margin-bottom: 56px;
}

    .bestsellers.product-grid .title, .related-products-grid.product-grid .title, .also-purchased-products-grid .title, .home-page-product-grid .title {
        font-family: "Source Sans Pro", sans-serif;
        font-size: inherit;
        margin: 0;
        padding-bottom: 8px;
        border-bottom: none;
        text-align: left;
        background-color: transparent !important;
    }

        .bestsellers.product-grid .title strong, .related-products-grid.product-grid .title strong, .also-purchased-products-grid .title strong, .home-page-product-grid .title strong {
            background-color: transparent !important;
            color: #404040 !important;
            font-weight: 800;
        }

    .bestsellers.product-grid .item-grid, .related-products-grid.product-grid .item-grid, .also-purchased-products-grid .item-grid, .home-page-product-grid .item-grid {
        background-color: transparent !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -8px;
    }

        .bestsellers.product-grid .item-grid .item-box, .related-products-grid.product-grid .item-grid .item-box, .also-purchased-products-grid .item-grid .item-box, .home-page-product-grid .item-grid .item-box {
            width: calc(25% - 16px) !important;
            margin: 0 8px !important;
            border-top: 1px solid #fdfafa;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 24px !important;
            -webkit-box-shadow: 0px 3px 3px #eceaea;
            box-shadow: 0px 3px 3px #eceaea;
        }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .product-title a, .related-products-grid.product-grid .item-grid .item-box .product-item .details .product-title a, .also-purchased-products-grid .item-grid .item-box .product-item .details .product-title a, .home-page-product-grid .item-grid .item-box .product-item .details .product-title a {
                color: #777777;
                font-size: 16px;
                line-height: 16px;
            }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .prices, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .prices, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .prices, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .prices {
                min-height: 0;
                margin-bottom: 4px;
            }

                .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .prices .price, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .prices .price, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .prices .price, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .prices .price {
                    color: #3e3e3e !important;
                }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button, .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-compare-list-button, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-compare-list-button, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-compare-list-button, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-compare-list-button {
                display: none;
            }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-wishlist-button, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-wishlist-button, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-wishlist-button, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .buttons .add-to-wishlist-button {
                position: absolute;
                top: 8px;
                right: 8px;
                border-radius: 36px;
                height: 30px;
                width: 31px;
            }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .not-in-stock, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock {
                font-size: 14px !important;
                font-weight: 600;
            }

                .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock:before, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock:before, .also-purchased-products-grid .item-grid .item-box .product-item .details .add-info .not-in-stock:before, .home-page-product-grid .item-grid .item-box .product-item .details .add-info .not-in-stock:before {
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f472";
                    color: #777777;
                    margin-right: 1px;
                }

.bestsellers .item-grid .item-box {
    border: 1px solid #f2f2f2;
}

    .bestsellers .item-grid .item-box .attributes ul.attribute-squares.image-squares li .attribute-square-container .attribute-square {
        width: 40px !important;
        height: 40px !important;
    }

.breadcrumb {
    background-color: transparent;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

    .breadcrumb ul li * {
        margin: 0 2px;
    }

    .breadcrumb ul:first-child li span {
        margin-left: 0;
    }

        .breadcrumb ul:first-child li span a {
            margin-left: 0;
        }

    .breadcrumb ul .delimiter {
        color: #777777 !important;
    }

.side-2 .toggle-filter {
    display: none;
}

.side-2 > .block {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    border-top: 2px solid #35a366;
}

    .side-2 > .block .title {
        font-family: "Source Sans Pro", sans-serif;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        min-height: 0;
        padding-bottom: 8px;
        border-color: #f2f2f2;
    }

        .side-2 > .block .title strong {
            font-size: 16px;
            color: black;
            font-weight: 300;
        }

    .side-2 > .block .listbox {
        padding: 0;
    }

        .side-2 > .block .listbox ul.list {
            margin: 0;
        }

            .side-2 > .block .listbox ul.list li {
                padding: 0px 0 0px 16px;
            }

                .side-2 > .block .listbox ul.list li a {
                    color: #777777;
                }

                .side-2 > .block .listbox ul.list li ul.sublist {
                    margin: 0;
                }

input {
    font-family: "Karla", sans-serif;
}

.footer {
    background-color: #2f2f2f !important;
}

    .footer .footer-upper {
        background-color: transparent !important;
        border: none;
    }

        .footer .footer-upper .footer-block ul.list {
            margin: 0;
        }

            .footer .footer-upper .footer-block ul.list li a {
                color: #a7a7a7;
            }

        .footer .footer-upper .footer-block .title {
            font-family: "Source Sans Pro", sans-serif;
            color: #d4d2d2;
            margin-bottom: 8px;
            background-color: transparent !important;
        }

            .footer .footer-upper .footer-block .title strong {
                background-color: transparent !important;
                color: #d4d2d2 !important;
            }

        .footer .footer-upper .footer-block .newsletter .newsletter-email .newsletter-subscribe-text {
            border-radius: 4px;
        }

        .footer .footer-upper .footer-block .newsletter .newsletter-email #newsletter-subscribe-button {
            border-radius: 4px;
            margin-left: 8px;
            text-transform: none;
            background: #35a366 !important;
        }

        .footer .footer-upper .footer-block.follow-us .social ul.networks {
            border-bottom: 1px solid #444 !important;
        }

    .footer .footer-lower {
        padding: 0;
    }

    .footer .footer-usp-holder {
        background-color: #e8f7eb;
    }

        .footer .footer-usp-holder .usp-text {
            margin-bottom: 0;
            text-align: left;
        }

.footer-location {
    background-color: #3c3c3c;
}

    .footer-location .location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 35px 30px;
    }

@media (max-width: 1000.98px) {
    .footer-location .location {
        padding: 35px 10px;
    }
}

.footer-location .location .box-left img {
    max-width: 213px;
    border-radius: 4px;
    padding: 0 !important;
}

.footer-location .location .box-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 16px;
    padding-left: 67px;
}

@media (max-width: 998px) {
    .footer-location .location .box-right {
        padding-left: 24px;
    }
}

.footer-location .location .box-right .title {
    color: #d4d2d2;
    margin-bottom: 8px;
    background-color: transparent !important;
    font-size: 20px;
    text-align: left;
}

.footer-location .location .box-right .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .footer-location .location .box-right .text div {
        font-size: 14px;
        line-height: 28px;
        padding-right: 16px;
        color: #a7a7a7;
    }

@media (max-width: 998px) {
    .footer-location .location .box-right .text div.contact, .footer-location .location .box-right .text div.open {
        display: none;
    }
}

@media (max-width: 998px) {
    .footer-location .location .box-right .text div.adres {
        line-height: 19px;
    }
}

.extra-information {
    background-color: #35a366;
    color: white;
    display: none;
}

    .extra-information a {
        color: white;
    }

.below-footer {
    background-color: #35a366;
    color: white;
    display: none;
}

.master-wrapper-page > hr {
    display: none;
}

@media (max-width: 768.98px) {
    .footer {
        margin-top: 40px;
    }

        .footer .footer-upper {
            padding: 0;
            width: 100%;
        }

            .footer .footer-upper .footer-block.information, .footer .footer-upper .footer-block.my-account, .footer .footer-upper .footer-block.customer-service {
                width: 100%;
                border-bottom: 1px solid #444;
            }

                .footer .footer-upper .footer-block.information .title, .footer .footer-upper .footer-block.my-account .title, .footer .footer-upper .footer-block.customer-service .title {
                    margin-bottom: 0;
                    padding: 12px 16px;
                }

                    .footer .footer-upper .footer-block.information .title strong, .footer .footer-upper .footer-block.my-account .title strong, .footer .footer-upper .footer-block.customer-service .title strong {
                        font-size: 16px;
                        color: #d4d2d2 !important;
                    }

                    .footer .footer-upper .footer-block.information .title:before, .footer .footer-upper .footer-block.my-account .title:before, .footer .footer-upper .footer-block.customer-service .title:before {
                        display: inline-block;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f078";
                        color: #d4d2d2;
                        margin-right: 4px;
                        font-size: 14px;
                    }

            .footer .footer-upper .footer-block.follow-us {
                margin: 0;
                width: 100%;
            }

                .footer .footer-upper .footer-block.follow-us .social {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                    .footer .footer-upper .footer-block.follow-us .social .title {
                        display: none;
                    }

                    .footer .footer-upper .footer-block.follow-us .social .networks {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        border: none;
                        padding: 12px 16px;
                    }

                .footer .footer-upper .footer-block.follow-us .newsletter {
                    margin-bottom: 32px;
                }

    .extra-information {
        text-align: left;
    }

        .extra-information a {
            padding: 12px 16px;
            display: block;
        }
}

.logos {
    margin-bottom: 48px;
    margin-top: 48px;
}

    .logos .title {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        margin: 0;
        padding-bottom: 8px;
        color: #404040 !important;
        font-weight: 800;
        text-align: left;
        background-color: white !important;
    }

    .logos .logos-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .logos .logos-items .logo-item {
            background-color: white;
            max-width: 150px;
            height: 150px;
            margin: 4px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-shadow: 0px 2px 2px #ececec;
            box-shadow: 0px 2px 2px #ececec;
            border: 1px solid #f9f9f9;
            -webkit-transition: 0.2s all ease;
            transition: 0.2s all ease;
        }

            .logos .logos-items .logo-item:hover {
                -webkit-box-shadow: 0px 4px 3px #cecece;
                box-shadow: 0px 4px 3px #cecece;
            }

            .logos .logos-items .logo-item img {
                max-width: 100%;
                padding: 16px;
                width: auto !important;
            }

.order-progress {
    counter-reset: order-progress;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
}

    .order-progress ul li {
        counter-increment: order-progress;
    }

        .order-progress ul li a:before {
            content: counter(order-progress);
            display: block;
            padding: 10px;
            text-align: center;
            background-image: none;
            border: 2px solid #35a366;
            border-radius: 40px;
        }

        .order-progress ul li.active-step a:before {
            background-color: #35a366;
            color: white !important;
        }

.order-summary-content .table-wrapper {
    -webkit-box-shadow: 0px 2px 3px #cecece;
    box-shadow: 0px 2px 3px #cecece;
}

.order-summary-content .cart-options .common-buttons {
    background-color: transparent;
    padding: 16px 0;
}

    .order-summary-content .cart-options .common-buttons .update-cart-button, .order-summary-content .cart-options .common-buttons .continue-shopping-button {
        background-color: transparent !important;
        color: #35a366 !important;
        padding: 4px 8px;
        margin: 0;
        min-width: auto;
    }

.order-summary-content .cart-options .checkout-attributes dl dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.order-summary-content .cart-footer .cart-collaterals .deals .discount-coupon-code, .order-summary-content .cart-footer .cart-collaterals .deals .gift-card-coupon-code {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.order-summary-content .cart-footer .cart-collaterals .deals .apply-discount-coupon-code-button, .order-summary-content .cart-footer .cart-collaterals .deals .apply-gift-card-coupon-code-button {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: #35a366 !important;
    background-color: transparent !important;
    border: 1px solid #35a366;
}

.order-summary-content .cart-footer .totals {
    margin: 0;
    border: 1px solid #dddddd;
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 2px 3px 5px #cecece;
    box-shadow: 2px 3px 5px #cecece;
}

    .order-summary-content .cart-footer .totals .cart-total .order-total {
        color: black;
        font-weight: 700;
    }

    .order-summary-content .cart-footer .totals .cart-total .value-summary strong {
        color: black !important;
        font-weight: 700;
    }

.html-shopping-cart-page .master-wrapper-content .checkout-button {
    border-radius: 40px;
    background-color: #ea8a45 !important;
    text-transform: none;
}

.eu-cookie-bar-notification {
    padding: 8px 16px;
    height: auto;
    border: none;
    -webkit-box-shadow: -1px 2px 10px #b1b1b1;
    box-shadow: -1px 2px 10px #b1b1b1;
    color: black;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: auto;
    margin: 0;
}

    .eu-cookie-bar-notification .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .eu-cookie-bar-notification .content .text {
            margin-bottom: 0;
            margin-right: 16px;
        }

        .eu-cookie-bar-notification .content .buttons-more {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .eu-cookie-bar-notification .content .buttons-more .ok-button {
                margin: 0;
                margin-right: 16px;
                background-color: #35a366;
                border-radius: 4px;
                font-weight: 600;
            }

@media (max-width: 768.98px) {
    .eu-cookie-bar-notification .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .eu-cookie-bar-notification .content .text {
            margin-bottom: 8px;
            font-size: 13px;
            line-height: 16px;
        }
}

.tabs-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    z-index: 999;
}

    .tabs-nav ul {
        margin: 0;
        margin-bottom: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eaeaea;
        background-color: white;
    }

        .tabs-nav ul li a {
            padding: 12px 12px;
            color: #35a366;
            font-weight: 600;
            display: inline-block;
            border-bottom: 2px solid transparent;
        }

            .tabs-nav ul li a span {
                color: #35a366 !important;
            }

            .tabs-nav ul li a:hover {
                color: #35a366;
                border-bottom: 2px solid #35a366;
            }

        .tabs-nav ul li.active a {
            color: #35a366;
            background-color: #e9f7f1;
            border-bottom: 2px solid #35a366;
        }

@media (max-width: 1000.98px) {
    .tabs-nav {
        top: 107px;
    }

        .tabs-nav ul li a {
            padding: 16px 8px;
        }

            .tabs-nav ul li a i {
                display: none;
            }
}

.reviews-items {
    margin-top: 20px;
}

    .reviews-items .review-item {
        margin-top: 20px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 20px;
    }

        .reviews-items .review-item .review-title {
            font-weight: bold;
            color: #444;
        }

        .reviews-items .review-item .review-rating {
            font-size: 12px;
            color: #ea8a45;
        }

        .reviews-items .review-item .review-date {
            margin-bottom: 8px;
        }

        .reviews-items .review-item:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .slick-track:before, .slick-track:after {
        content: "";
        display: table;
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
/* Icons */
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

    .slick-prev:hover, .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }

        .slick-prev:hover:before, .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before {
            opacity: 1;
        }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 20px;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

        .slick-dots li button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
        }

            .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
            }

                .slick-dots li button:hover:before, .slick-dots li button:focus:before {
                    opacity: 1;
                }

            .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                width: 20px;
                height: 20px;
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        .slick-dots li.slick-active button:before {
            color: black;
            opacity: 0.75;
        }

.block-head {
    margin-bottom: 16px;
}

    .block-head .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .block-head .row .col.big {
            -webkit-box-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }

            .block-head .row .col.big .col-inner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 100%;
            }

                .block-head .row .col.big .col-inner a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    overflow: hidden;
                }

                    .block-head .row .col.big .col-inner a img {
                        -ms-flex-negative: 0;
                        flex-shrink: 0;
                        min-width: 100%;
                        min-height: 100%;
                    }

        .block-head .row .col.spacing {
            margin-right: 4px;
        }

        .block-head .row .col.small {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

            .block-head .row .col.small .col-inner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

                .block-head .row .col.small .col-inner:first-child {
                    margin-bottom: 4px;
                }

                .block-head .row .col.small .col-inner img {
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    min-width: 100%;
                    min-height: 100%;
                }

        .block-head .row .col .col-inner a {
            overflow: hidden;
            position: relative;
        }

            .block-head .row .col .col-inner a .categorie {
                position: absolute;
                top: 24px;
                left: 24px;
                background-color: #35a366;
                font-size: 14px;
                z-index: 2;
                padding: 2px 11px;
                border-radius: 3px;
                color: white;
            }

            .block-head .row .col .col-inner a img {
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                max-width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 4px;
                border: 1px solid #f2f2f2;
            }

            .block-head .row .col .col-inner a:hover img {
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }

@media (max-width: 1000.98px) {
    .html-account-page .side-2 > .block > .title {
        padding: 10px !important;
    }
}

.html-contact-page .topic-block .topic-block-body {
    display: block;
    margin: 0;
}

@media (max-width: 1000.98px) {
    .block-head .row .col.spacing {
        margin-right: 12px;
    }

    .block-head .row .col.small .col-inner:first-child {
        margin-bottom: 12px;
    }

    .usp-text .usp-item {
        padding: 8px 4px;
    }

        .usp-text .usp-item .icon {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            font-size: 24px;
        }

        .usp-text .usp-item .title {
            text-align: center;
            font-size: 14px;
        }

        .usp-text .usp-item p {
            text-align: center;
        }

        .usp-text .usp-item:last-child {
            display: none;
        }

    .usp-text-right .usp-item {
        padding: 8px 4px;
    }

        .usp-text-right .usp-item .icon {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            font-size: 24px;
        }

        .usp-text-right .usp-item .title {
            text-align: right;
            font-size: 14px;
        }

        .usp-text-right .usp-item p {
            text-align: center;
        }

        .usp-text-right .usp-item:last-child {
            display: none;
        }

    .header-wrapper {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1001;
    }

    .header-menu-wrapper {
        position: fixed;
        width: 100%;
        top: 58px;
        z-index: 999;
        -webkit-box-shadow: 0px 1px 2px #212121;
        box-shadow: 0px 1px 2px #212121;
    }

    .master-wrapper-page {
        margin-top: 108px;
    }
}

@media (max-width: 768.98px) {
    .bestsellers.product-grid .item-grid, .related-products-grid.product-grid .item-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -4px;
    }

        .bestsellers.product-grid .item-grid .item-box, .related-products-grid.product-grid .item-grid .item-box {
            width: calc(50% - 8px) !important;
            margin: 0 4px !important;
        }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .product-title a, .related-products-grid.product-grid .item-grid .item-box .product-item .details .product-title a {
                font-size: 14px;
            }

            .bestsellers.product-grid .item-grid .item-box .product-item .details .add-info .prices .price, .related-products-grid.product-grid .item-grid .item-box .product-item .details .add-info .prices .price {
                font-size: 14px;
            }

    .center-2 .page.category-page .page-body .product-grid .item-grid, .center-2 .page.category-page .page-body .category-grid .item-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -4px;
    }

        .center-2 .page.category-page .page-body .product-grid .item-grid .item-box, .center-2 .page.category-page .page-body .category-grid .item-grid .item-box {
            margin: 0 4px !important;
            margin-bottom: 8px !important;
        }

            .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .product-title a, .center-2 .page.category-page .page-body .category-grid .item-grid .item-box .product-item .details .product-title a {
                font-size: 14px;
            }

            .center-2 .page.category-page .page-body .product-grid .item-grid .item-box .product-item .details .add-info .prices .price, .center-2 .page.category-page .page-body .category-grid .item-grid .item-box .product-item .details .add-info .prices .price {
                font-size: 14px;
            }
}

.my-modal {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: auto;
    min-height: 100vh;
    z-index: 6002 !important;
    backdrop-filter: blur(5px);
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: block;
    top: 30%;
    width: 60%;
    left: 20%;
    z-index: 6005 !important;
    overflow: auto;
    max-height: 75%;
    justify-content: center;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
}

/* Modal Header */
.modal-header-bottom {
    padding: 2px 16px;
}

.modal-shopbutton {
    float: right;
    cursor: pointer;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #ea8a45 !important;
    margin-top: 4px;
    background-color: #ea8a45 !important;
    border: none;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    width: 100%;
}

.modal-close {
    float: right;
    font-size: 30px;
    cursor: pointer;
    color: white !important;
}

.modal-product-title {
    color: black;
}

.modal-prize {
    color: #57B568 !important
}

.product-box {
    width: 33%;
    display: inline-block;
}

#modalBuyButton {
    padding: 13px 0px;
}

.modal-button {
    margin-top: 7px;
    background-color: #ea8a45 !important;
    border: none;
    color: white;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .product-box {
        width: 49%;
        display: inline-block;
        margin-left: 25%;
    }

    .modal-content {
        overflow: auto;
        background-color: #fefefe;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        display: block;
        top: 50%;
        width: 75%;
        margin: auto 0;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 9999999999999 !important;
        height: 70%;
    }

    #modal-order-message {
        padding-top: 7px;
        align-content: center;
        text-align: center;
    }
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/*# sourceMappingURL=yels.css.map */
