﻿@model VendorNavigationModel
@{     
    var randomNumber = new Random().Next(1000, 9999);
    var minimizeButtonId = $"minimize-{randomNumber}";
    var listboxId = $"list-{randomNumber}";
    var functionId = $"HideFilter{randomNumber}";
}
@if (Model.Vendors.Count > 0)
{
<div class="block block-vendor-navigation">
    <div class="title">
        <i class="minimizebutton fas fa-chevron-down" id="@minimizeButtonId"></i>
        <strong>@T("Vendors")</strong>
    </div>

    <script asp-location="Footer">
            $(document).ready(function () {
                $("#@minimizeButtonId").click(function () {
                    if ($("#@listboxId").is(":hidden")) {
                    $("#@listboxId").show();
                    $("#@minimizeButtonId").css('transform', 'rotate(0deg)');
                    $("#@minimizeButtonId").css('paddingLeft', '0px');
                } else {
                    $("#@listboxId").hide();
                    $("#@minimizeButtonId").css('transform', 'rotate(270deg)');
                    $("#@minimizeButtonId").css('paddingLeft', '10px');
                }
                })
            });
    </script>

    <div class="listbox">
        <ul class="list" id="@listboxId">
            @foreach (var vendor in Model.Vendors)
            {
                <li>
                    <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                </li>
            }
        </ul>
        @if (Model.TotalVendors > Model.Vendors.Count)
        {
            <div class="view-all">
                <a href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
            </div>
        }
    </div>
</div>
}