﻿@using Nop.Core
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    const string panelId = "order-average-report-box";
    const string hidePanelAttributeName = "HideOrderAverageReportPanel";
    var hidePanel = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePanelAttributeName);
}

<div class="box box-info @if(hidePanel){<text>collapsed-box</text>}" id="@panelId">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-money"></i>
            @T("Admin.SalesReport.Average")
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                @if (hidePanel)
                {
                    <text><i class="fa fa-plus"></i></text>
                }
                else
                {
                    <text><i class="fa fa-minus"></i></text>
                }
            </button>
        </div>
    </div>
    <div class="box-body" style="padding-bottom: 22px;">
        <div class="report-box">
            <div class="report-box-header">
                <i class="fa fa-plus"></i>
            </div>
            <div id="average-order-report-grid"></div>
        </div>
        <div class="report-box">
            <div class="report-box-header">
                <i class="fa fa-plus"></i>
            </div>
            <div id="affiliate-average-order-report-grid"></div>
        </div>
        <div class="report-box">
            <div class="report-box-header">
                <i class="fa fa-plus"></i>
            </div>
            <div id="affiliate-order-report-grid"></div>
        </div>
        <script>
            $(document).ready(function () {
                $('#@panelId').on('click', 'button[data-widget="collapse"]', function () {
                    var collapsed = !$('#@panelId').hasClass('collapsed-box');
                    saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hidePanelAttributeName', collapsed);
                });

                $("#average-order-report-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("OrderAverageReportList", "Order"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false,
                        @await Html.PartialAsync("_GridPagerMessages")
                    },
                    editable: {
                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "OrderStatus",
                        title: "@T("Admin.SalesReport.Average.OrderStatus")"
                    }, {
                        field: "SumTodayOrders",
                        title: "@T("Admin.SalesReport.Average.SumTodayOrders")"
                    }, {
                        field: "SumThisWeekOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisWeekOrders")"
                    }, {
                        field: "SumThisMonthOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisMonthOrders")"
                    }, {
                        field: "SumThisYearOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisYearOrders")"
                    }, {
                        field: "SumAllTimeOrders",
                        title: "@T("Admin.SalesReport.Average.SumAllTimeOrders")"
                    }]
                });

                $("#affiliate-average-order-report-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("AffiliateAverageReportList", "Order"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false,
                        @await Html.PartialAsync("_GridPagerMessages")
                    },
                    editable: {
                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "OrderStatus",
                        title: "@T("Admin.SalesReport.Average.OrderStatus")"
                    }, {
                        field: "SumTodayOrders",
                        title: "@T("Admin.SalesReport.Average.SumTodayOrders")"
                    }, {
                        field: "SumThisWeekOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisWeekOrders")"
                    }, {
                        field: "SumThisMonthOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisMonthOrders")"
                    }, {
                        field: "SumThisYearOrders",
                        title: "@T("Admin.SalesReport.Average.SumThisYearOrders")"
                    }, {
                        field: "SumAllTimeOrders",
                        title: "@T("Admin.SalesReport.Average.SumAllTimeOrders")"
                    }]
                });

                $("#affiliate-order-report-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("AffiliateReportList", "Order"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false,
                        @await Html.PartialAsync("_GridPagerMessages")
                    },
                    editable: {
                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "AffiliateName",
                        title: "Affiliate naam"
                    }, {
                            field: "AmountOfOrders",
                        title: "Aantal orders"
                    }, {
                            field: "AmountOfUniqueCustomers",
                        title: "Aantal unieke klanten"
                    }, {
                            field: "TotalAmountOrdered",
                        title: "Totaal bedrag besteld"
                        }, {
                            field: "AverageAmountPerCustomer",
                            title: "Gemiddeld bedrag per klant"
                        }]
                });
            });

            $(".report-box-header").click(function () {

                $header = $(this);
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(500, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    $innerIcon = $header.find('i');

                    console.log("visible: " + $header.is(":visible"));

                    if ($content.is(":visible")) {
                        $innerIcon.removeClass("fa-plus");
                        $innerIcon.addClass("fa-minus")
                    } else {
                        $innerIcon.removeClass("fa-minus");
                        $innerIcon.addClass("fa-plus")
                    }
                });

            });

        </script>
    </div>
</div>
<style>
    .container {
        width: 100%;
        border: 1px solid #d3d3d3;
    }

        .container div {
            width: 100%;
        }

    .report-box .report-box-header {
        background-color: #d3d3d3;
        padding: 2px;
        cursor: pointer;
        font-weight: bold;
    }
</style>