﻿@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Business").Text);
    //page class
    //Html.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page business-page">
    @*<div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>*@
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "Affiliate" })
    </div>
</div>
