﻿@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
    <div class="page-title">
        <h1>@T("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "PageNotFound" })
    </div>
</div>

@await Component.InvokeAsync("HomeRecentlyViewedProductsBlock")
@await Component.InvokeAsync("HomepageBestSellers")

