﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

<div class="footer-usp-holder">
    <div class="container-wrapper">
        <div class="usp-text">
            <div class="usp-item">
                <div class="icon"><i class="fas fa-percent"></i></div>
                <div class="text">
                    <div class="title">Laagste prijs garantie</div>
                    <p>Wij bieden de laagste prijs, zo betaal je nooit teveel.</p>
                </div>
            </div>
            <div class="usp-item">
                <div class="icon"><i class="fas fa-door-open"></i> </div>
                <div class="text">
                    <div class="title">Betaal aan de deur</div>
                    <p>Achteraf betalen, kies dan voor rembours of Afterpay.</p>
                </div>
            </div>
            <div class="usp-item">
                <div class="icon"><i class="fas fa-people-carry"></i> </div>
                <div class="text">
                    <div class="title"> Snel geleverd op afspraak</div>
                    <p>We bellen je binnen 24 uur, indien bestelling op voorraad is</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <strong>@T("Footer.Information")</strong>
            </div>
            <ul class="list">
                @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                {
                    <li><a href="@Url.RouteUrl("Sitemap")/">@T("Sitemap")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName + "/" }).Replace("%2F","/")">@topic.Name</a></li>
                }
                @if (Model.DisplayContactUsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("ContactUs")/">@T("ContactUs")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName + "/"}).Replace("%2F","/")">@topic.Name</a></li>
                }
            </ul>
        </div>

        <div class="footer-block customer-service">
            <div class="title">
                <strong>@T("Footer.CustomerService")</strong>
            </div>
            <ul class="list">
                @if (Model.DisplayProductSearchFooterItem)
                {
                    @*<li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>*@
                }
                @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("NewsArchive")/">@T("News")</a></li>
                }
                @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                {
                    <li><a href="@Url.RouteUrl("Blog")/">@T("Blog")</a></li>
                }
                @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("Boards")/">@T("Forum.Forums")</a></li>
                }
                @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("RecentlyViewedProducts")/">@T("Products.RecentlyViewedProducts")</a></li>
                }
                @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                {
                    @*<li><a href="@Url.RouteUrl("CompareProducts")/">@T("Products.Compare.List")</a></li>*@
                }
                @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("NewProducts")/">@T("Products.NewProducts")</a></li>
                }

                @if (Model.AllowCustomersToCheckGiftCardBalance)
                {
                    <li><a href="@Url.RouteUrl("CheckGiftCardBalance")/">@T("CheckGiftCardBalance")</a></li>
                }

                @if (Model.DisplayCustomerInfoFooterItem)
                {
                    <li><a href="@Url.RouteUrl("CustomerInfo")/">@T("Account.MyAccount")</a></li>
                }
                @if (Model.DisplayCustomerOrdersFooterItem)
                {
                    <li><a href="@Url.RouteUrl("CustomerOrders")/">@T("Account.CustomerOrders")</a></li>
                }
                @if (Model.DisplayCustomerAddressesFooterItem)
                {
                    <li><a href="@Url.RouteUrl("CustomerAddresses")/">@T("Account.CustomerAddresses")</a></li>
                }
                @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                {
                    <li><a href="@Url.RouteUrl("ShoppingCart")/">@T("ShoppingCart")</a></li>
                }
                @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                {
                    <li><a href="@Url.RouteUrl("Wishlist")/">@T("Wishlist")</a></li>
                }
                @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                {
                    <li><a href="@Url.RouteUrl("ApplyVendorAccount")/">@T("Vendors.ApplyAccount")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName + "/"}).Replace("%2F","/")">@topic.Name</a></li>
                }
            </ul>
        </div>


        <div class="footer-block my-account">
            <div class="title">
                @*<strong>@T("Footer.WorkingWithYels")</strong>*@
                <strong>Zakelijk</strong>
            </div>
            <ul class="list">
                <li><a href="@Url.RouteUrl("OrderFurnitureForBusiness")/">@T("Footer.Yels.OrderFurnitureForBusiness")</a></li>
                @*<li><a href="@Url.RouteUrl("ProjectDesign")">@T("Footer.Yels.ProjectDesign")</a></li>*@
                <li><a href="@Url.RouteUrl("Affiliate")/">@T("Footer.Yels.Affiliate")</a></li>
            </ul>

            @*<div class="title">
                    <strong>@T("Footer.Showroom")</strong>
                </div>*@


        </div>








        <div class="footer-block follow-us">
            <div class="social">
                <div class="title">
                    <strong>@T("Footer.FollowUs")</strong>
                </div>
                @await Component.InvokeAsync("SocialButtons")               
            </div>
            @await Component.InvokeAsync("NewsletterBox")
        </div>
    </div>








    <div class="footer-lower">
        @if (!Model.HidePoweredByNopCommerce)
        {
            <div class="footer-powered-by">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
                Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
            </div>
        }
        @await Component.InvokeAsync("StoreThemeSelector")
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>

<div class="footer-location">
    <div class="container-wrapper">
        <div class="location">
            @*<div class="box-left">
                <img class="mobile-image showroom" src="/images/home/showroom.png" alt="Showroom Yels" />
            </div>*@
            <div class="box-right">
                <div class="title">Kom langs in onze showroom</div>
                <div class="text">
                    <div class="open">
                        <b>Openingstijden</b><br />
                        Maandag t/m vrijdag: 09.00 – 17.00 uur<br />
                        Zaterdag: 10.00 – 15.00 uur
                    </div>
                    <div class="adres">
                        <b>Adresgegevens</b><br />
                        Langstraat 277<br />
                        6691EE Gendt<br />
                        Nederland
                    </div>
                    <div class="contact">
                        <b>Contactgegevens</b><br />
                        <a href="tel:+310852103401">Telefoon: 085-2103401</a><br />
                        <a href="mailto:info@yels.nl">E-mail: info@yels.nl</a><br />                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="extra-information">
    <a href="/algemene-voorwaarden">Algemene voorwaarden</a>
    <a href="/privacy-policy">Privacy policy</a>
</div>
<div class="below-footer">
    <strong>@T("content.copyrightnotice.yels", DateTime.Now.Year, Model.Url, Model.StoreAddress, Model.ChamberOfCommerce)</strong>

    @if (Model.DisplayTaxShippingInfoFooter)
    {
        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
        <span class="footer-tax-shipping">
            @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
        </span>
    }
</div>
<hr />
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>