﻿@model SliderRangeModel
<div class="block block-spec-filter">
    <div class="title">
        <strong>Hoogte</strong>
    </div>

    <div class="listbox">
        <p>
            <label for="price" style="font-family:Verdana;">Hoogte:</label>
            <input type="text" id="price" style="border:0; color:#fa4b2a; font-weight:bold;">
        </p>
        <div id="mySlider"></div>
        <div class="button-container" style="
                                    margin: auto;
                                    width: 50%;
                                    padding-top:  10px;
                                    padding-bottom: 10px;
                                ">
            <input type="button" onclick="filterSlider()" value="Filter" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button">
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        console.log("Loading slider!");
        $(document).ready(function () {
            $("#mySlider").slider({
                range: true,
                min: @Model.MinValue,
                max: @Model.MaxValue,
                values: [@Model.MinValue, @Model.MaxValue],
                slide: function (event, ui) {
                    $("#price").val(ui.values[0] + "cm" + " tot " + ui.values[1] + "cm");
                }
            });

            var slidermin = getCookie("sliderMin");
            var slidermax = getCookie("sliderMax");

            if (slidermin === null || slidermax === null) {
                return;
            }

            $("#price").val($("#mySlider").slider("values", 0) + "cm" + " tot " + $("#mySlider").slider("values", 1) + "cm");
            $("#mySlider").slider('values', 0, slidermin); // sets first handle (index 0) to 50
            $("#mySlider").slider('values', 1, slidermax); // sets second handle (index 1) to 80

             setCookie("sliderMin", @Model.MinValue, 1);
            setCookie("sliderMax", @Model.MaxValue, 1);
            $("#price").val(slidermin + "cm" + " tot " + slidermax + "cm");

        });
    });

    function filterSlider() {

        var value1 = $("#mySlider").slider("values", 0)
        var value2 = $("#mySlider").slider("values", 1)

        var currentUrl = window.location.href;

        if (currentUrl.includes("/sl-")) {
            currentUrl = currentUrl.split("/sl-");
            currentUrl = currentUrl[0];
        }

        setCookie("sliderMin", value1, 1);
        setCookie("sliderMax", value2, 1);
        console.log(currentUrl);
        console.log(currentUrl[currentUrl.length - 1]);
        if (currentUrl.indexOf("/search") > 0) {
            console.log("Serach find");
            if (currentUrl.search("slider=sl-[a-z]-[0-9]{1,3}-[0-9]{1,3}") > 0) {
                console.log("previous slider found");
                var sliderUrlPart = "slider=sl-h-" + value1 + "-" + value2;

                var newUrl = currentUrl.replace("slider=sl-[a-z]-[0-9]{1,3}-[0-9]{1,3}", sliderUrlPart);
                window.location.href = newUrl;

            }
            else {
                console.log("No previous slider found;")
                var sliderUrlPart = "&slider=sl-h-" + value1 + "-" + value2;
                var newUrl = currentUrl + sliderUrlPart;
                console.log(newUrl);
                window.location.href = newUrl;
            }
        }
        else {
            console.log("No search found")
            if (currentUrl[currentUrl.length - 1] === '/') {
                var targetUrl = currentUrl + "sl-h-" + value1 + "-" + value2;
                window.location.href = targetUrl;
            }
            else {
                var targetUrl = currentUrl + '/' + "sl-h-" + value1 + "-" + value2;
                window.location.href = targetUrl;
            }
        }
        


    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>