﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid bestsellers">
        <div class="title">
            <strong><h2>@T("Bestsellers")</h2></strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}