body{
   background-color: $color-background;
   color: $color-text;
   font-family: $fomt-family-1 !important;
}

p{

}

a{
    color: $color-primary;
    text-decoration: none;
}
span{

}
small{
    
}

h1, h2, h3, h4, h5{
    font-family: $fomt-family-3;
}

h1{

}
h2{
    font-size: 20px;
    text-align: left;
}
h3{

}
h4{

}