.container-wrapper{
    width: 95% !important;
    margin: 0 auto;
}
.block{
    .list{
        a{
            
        }
    }
}

.center-1{
    margin-bottom: 0;
}


// Responsive utils
@media (min-width: 1001px) {
   .show-md{
    display: none !important;
   }

}
@media (min-width: 1367px){
    .show-lg{
       
   }
}

@media (max-width: 769px){
    .hidden-sm{
       display: none !important;
   }
   div.title {
        background-color: transparent !important;
        strong{
            background-color: transparent !important;
            color:  $color-text !important;
        }
   }

}
@media (max-width: 1000.98px){
    .hidden-md{
       display: none !important;
   }
   .show-md{
    display: inline-block !important;
   }
}
@media (max-width: 1366.98px){
    .hidden-lg{
       display: none !important;
   }
}