@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

// Type
$fomt-family-1:                    'Karla', sans-serif;
$fomt-family-2:                    'Vollkorn', serif;    
$fomt-family-3:                    'Source Sans Pro', sans-serif;
$base-font-size:                    14px;

// Radius
$border-radius:                     4px;

// Colors
$color-primary-light:               #0bcc79;
$color-primary:                     #35a366;
$color-primary-dark:                #2d915a;
$color-primary-darker:              #256943;

$color-secondary:                   black;

$color-ana:                         #35a39e;        // ANALOGOUS COLOR
$color-comple:                      #a33571;        // COMPLEMENTARY COLOR

$color-text:                        #777777;
$color-text-dark:                   #444;
$color-muted:                       black;
$color-green-light:                 #e6ffeb;
$color-blue:                        #1e5bcc;
$color-orange:                      #ea8a45;
$color-orange-darker:               #cf7535;

$color-background:                  white;

// Dark mode
$color-dark:                        #2f2f2f;
$color-dark-text:                   #d4d2d2;
$color-dark-border:                 #444;

// Shades of Grays
$color-gray-50:                     #FCFCFC;
$color-gray-100:                    #f7f7f7;
$color-gray-200:                    #f2f2f2;
$color-gray-300:                    #ebebeb;
$color-gray-400:                    #c9c9c9;
$color-gray-500:                    #ababab;
$color-gray-600:                    #818181;
$color-gray-700:                    #6c6c6c;
$color-gray-800:                    #4d4d4d;
$color-gray-900:                    #2b2b2b;

$border-color:                      $color-gray-400;
$border-color-light:                $color-gray-200;
$border-color-grey:                 #eaeaea;  