﻿@model IList<CustomerModel.CustomerAttributeModel>

@using Nop.Core.Domain.Catalog;

@foreach (var attributeModel in Model)
{
    var controlId = $"customer_attribute_{attributeModel.Id}";
    var textPrompt = attributeModel.Name;
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="control-label">
                    @textPrompt
                </label>
            </div>
        </div>
        <div class="col-md-9">
            @switch (attributeModel.AttributeControlType)
            {
                case AttributeControlType.DropdownList:
                    {
                        <select name="@(controlId)" id="@(controlId)" class="form-control">
                            @if (!attributeModel.IsRequired)
                            {
                                <option value="0">---</option>
                            }
                            @foreach (var attributeValue in attributeModel.Values)
                            {
                                <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                            }
                        </select>
                    }
                    break;
                case AttributeControlType.RadioList:
                    {
                        foreach (var attributeValue in attributeModel.Values)
                        {
                            <div class="radio">
                                <label>
                                    <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                    @attributeValue.Name
                                </label>
                            </div>
                        }
                    }
                    break;
                case AttributeControlType.Checkboxes:
                case AttributeControlType.ReadonlyCheckboxes:
                    {
                        foreach (var attributeValue in attributeModel.Values)
                        {
                            <div class="checkbox">
                                <label>
                                    <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attributeModel.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                                    @attributeValue.Name
                                </label>
                            </div>
                        }
                    }
                    break;
                case AttributeControlType.TextBox:
                    {
                        <input name="@(controlId)" type="text" id="@(controlId)" value="@attributeModel.DefaultValue" class="form-control" />
                    }
                    break;
                case AttributeControlType.MultilineTextbox:
                    {
                        <textarea id="@(controlId)" class="form-control" name="@(controlId)">@attributeModel.DefaultValue</textarea>
                    }
                    break;
                case AttributeControlType.Datepicker:
                    {
                        <input name="@(controlId)" type="date" id="@(controlId)" value="@attributeModel.DefaultValue" class="form-control" />
                    }
                    break;
                case AttributeControlType.FileUpload:
                case AttributeControlType.ColorSquares:
                case AttributeControlType.ImageSquares:
                    {
                        //not support attribute type
                    }
                    break;
            }
        </div>
    </div>
}
