@media (max-width: 1000.98px){
    // Home
    .block-head{
        .row{
            .col{
                &.spacing{
                    margin-right: 12px;
                }
                &.small{
                    .col-inner{
                        &:first-child{
                            margin-bottom: 12px;
                        }
                        img{
                        }
                    }
                }
            }
        }
    }

    // USP
    .usp-text{
        .usp-item{
            padding: 8px 4px;
            .icon{
                align-self: center;
                font-size: 24px;
            }
            .title{
                text-align: center;
                font-size: 14px;
            }
            p{
                text-align: center;
            }
            &:last-child{
                display: none;
            }
        }
    }


    .usp-text-right {
        .usp-item {
            padding: 8px 4px;

            .icon {
                align-self: center;
                font-size: 24px;
            }

            .title {
                text-align: right;
                font-size: 14px;
            }

            p {
                text-align: center;
            }

            &:last-child {
                display: none;
            }
        }
    }

    // Fixed header
    .header-wrapper{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1001;
    }
    .header-menu-wrapper{
        position: fixed;
        width: 100%;
        top: 58px;
        z-index: 999;
        box-shadow: 0px 1px 2px #212121;
    }
    .master-wrapper-page{
        margin-top: 108px;
    }

}

@media (max-width: 768.98px){
    // Grid by modules
    .bestsellers.product-grid, .related-products-grid.product-grid{
        .item-grid{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
            .item-box{
                width: calc(50% - 8px) !important;
                margin: 0 4px !important;
                .product-item{
                        .details{
                            .product-title a{
                                font-size: 14px;
                            }
                            .add-info{
                                .prices .price {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
            }
        }
    }
    // List page grid
    .center-2 .page.category-page .page-body{
        .product-grid, .category-grid{
            .item-grid{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -4px;
                .item-box{                    
                    margin: 0 4px !important;
                    margin-bottom: 8px !important;
                    .product-item{
                        .details{
                            .product-title a{
                                font-size: 14px;
                            }
                            .add-info{
                                .prices .price {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}